.container {
}

.dimmer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1000px;
  background: var(--colors-set-50);
  transform-origin: 100% 0;
}

.border {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px;
  width: 1px;
  background: var(--colors-set-51);
  z-index: 2;
  cursor: ew-resize;


  &:before {
    position: absolute -2px;
    content: ' ';
    display: block;
  }

  &:hover, &.dragging {
    background: white;
  }
}