@import '$theater/common/styles.css';

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 26px;
  /* background: #282828;
  color: rgba(#3D666B, 0); */
  background: #1E2A30;
  color: #3D666B;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.onTop {
    z-index: 100000;
  }
}

.leftContainer {
  display: flex;
}

.rightContainer {
  display: flex;
}

.item {
  margin: 0 10px;
}

.icon {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
}

.syncedIcon {
  composes: icon;
  bottom: 2px;
  transform: rotateZ(180deg);  
}

.dexterIcon {
  composes: icon;
  bottom: 3px;
}

.text {
  line-height: 28px;
  font-size: 11px;
  font-weight: bold;
  @include typography;
}
