@value typographyFont from '../../../shared/styles.css';

.container {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--colors-set-15);

  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: var(--colors-set-16);
  }
}

.icon {
  user-select: auto;
  font-size: 15px;

}

.iconWrapper {
  width: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--colors-panel-feint-text);
  transform: rotateZ(180deg);
}

.tooltip {
  
}