@value typographyFont from '../../../shared/styles.css';

.container {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #1f2a30;

  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #18242a;
  }
}

.icon {
  user-select: auto;
  font-size: 15px;

}

.iconWrapper {
  width: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #3d666b;
  transform: rotateZ(180deg);
}

.tooltip {
  
}