{
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "arrow-parens": ["error", "always"],
    "comma-dangle": [2, "always-multiline"],
    "indent": [2, 2, {"SwitchCase":1}],
    "no-console": ["off"],
    "no-multiple-empty-lines": 2,
    "no-unused-vars": ["error", {"ignoreRestSiblings": true}],
    "object-curly-spacing": [2, "never"],
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "semi": [2, "never"],
    "display-name": 0,
    "flowtype/delimiter-dangle": [2, "always-multiline"],
    "flowtype/require-valid-file-annotation": [2, "always"],
    "flowtype/no-types-missing-file-annotation": [0, "never"],
    "flowtype/semi": [2, "never"],
    "react/prop-types": 0
  },
  "plugins": [
    "react",
    "flowtype"
  ]
}

