**/node_modules
**/xeno
/packages/*/dist
/theatre/*/dist
/examples/*/dist
/build_tests/*/dist
/build_tests/*/public
*.log
*.temp
/.vscode
/.history
**/.DS_Store
*.tsbuildinfo
.eslintcache

.yarn/*
# !.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# parcel v1
.cache/
# parcel v2
.parcel-cache/*
