**/node_modules
**/xeno
/packages/*/dist
/theatre/*/dist
/examples/*/dist
*.log
*.temp
/.vscode
/.history
**/.DS_Store
*.tsbuildinfo
.eslintcache

.yarn/*
# !.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Required by the `parcel_v2`
# compatibility tests
.parcel-cache

/compatibility-tests/*/.yarn
/compatibility-tests/*/build
