**/node_modules
**/xeno
/packages/*/dist
/theatre/*/dist
/examples/*/dist
*.log
*.temp
/.vscode
/.history
**/.DS_Store
*.tsbuildinfo
.eslintcache

.yarn/*
# !.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


/build_tests/*/dist
/build_tests/*/.cache
/build_tests/*/.yarn
/build_tests/*/.yalc
/build_tests/*/yalc.lock
# yarn.lock is not usable for projects that are
# managed with `yalc`
# /build_tests/*/yarn.lock
