.container {
  height: 100%;
  width: 132px;
  padding-left: 0;
  /* background: #212b31; */
  box-sizing: border-box;

  & .input {
    width: 100%;
    text-indent: 14px;
    height: 100%;
    min-height: 32px;
    box-sizing: border-box;
    /* background: black; */
    background: #00000000;
    /* background: #00000012; */
    
    border: none;
    /* border: 1px solid white; */
    outline: none;
    color: #45787b;

    padding: 0;
    margin: 0;
    display: inline;
    line-height: inherit;

    &:focus {
      background: #00000040;
      color: white;
    }
    /* border-radius: 0 1px 1px 0; */
  }

  &.dragging .input {
    background: #00000030;
    color: #EEE;
  }

  &.noFocus {
    cursor: ns-resize;
    user-select: none;
    font-weight: 200;

    & .input:hover, &.dragging .input {
      background: #00000020;
      color: #CCC;
    }

    & .input {
      cursor: ns-resize;
    }

    & .value {
      border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
      cursor: pointer;
    }
  }

  &.editingViaKeyboard {
    & .input {
      color: white;
    }
    /* padding-left: 0; */
  }
}