@value nodeHeight from './NodeContainer.css';
@value nodePadding from './NodeContainer.css';

.container {
  position: relative;
  height: nodeHeight;
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 nodePadding;

  opacity: 1;
  /* transition: opacity .15s ease-in-out; */

  &.isContentHidden {
    opacity: 0;
  }
/*
  &:before {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: calc(-1 * nodePadding);
    background: black;
    opacity: 0;
    border-radius: 2px;
    z-index: -1;
  }
  
  &:hover:before {
    opacity: 0.1;
  }
  
  &.isSelected:before {
    opacity: 1;
    background: #0e1315;

  }
  */

  &.isSelected {

  }
}

.displayName {
  /* cursor: pointer; */
}

.className {
  position: relative;
  display: inline-block;
}

.input {
  color: white;
  /* font-style: italic; */
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .15s ease-in-out;
  pointer-events: auto;

  &:focus {
    border-bottom-color: rgba(255, 255, 255, .3);
  }
  
  &.isDisabled {
    pointer-events: none;
  }
}

.tagOpen, .tagClose {
  color: #4f5d77;
}

.tagOpen {
  margin-right: 2px;
}

.tagClose {
  margin-left: 1px;
}

.container.isSelected > .displayName {
  & > .tagOpen, & > .tagClose {
    color: rgba(255,255,255, 0.5);
  }
}

.container.isRelocated > .displayName > .tagOpen,
.container.isRelocated > .displayName > .tagClose {
  animation: tagColorChange .2s ease-in forwards;
}

.tagClose {
  position: relative;
  /* left: -1px; */
}

.tagName {
  color: #d8d8d8;
}

.dot {
  color: #dadada;
}

.className {
  color: white;
}

/* .className {
  color: #65eeff;
  font-weight: 500;
} */

@keyframes tagColorChange {
  0% {
    color: rgb(218, 218, 218);
  }

  100% {
    color: #4f5d77;    
  }
}
