@value nodeIndent from './NodeContainer.css';
@value nodePadding from './NodeContainer.css';
@value nodeHeight from './NodeContainer.css';

.container {
  display: inline-block;
  cursor: text;
  height: 100%;
}

.inputWrapper {
  height: 100%;
  position: relative;
  // background: blue;
  display: inline-block;

  // transition: padding 0.2s ease-in-out, background-color 2s ease-in-out;
  &:before {
    display: block;
    position: absolute 0;
    // position: absolute 0 -10px 0 -10px;
    content: ' ';
    background-color: #0e1315;
    z-index: -1;
    opacity: 0;
    // transition: opacity 0.2s ease-in-out;
  }
  &:focus-within {
    transition: padding 0.2s ease-in-out;
    z-index: 10;
    padding: 0 5px;
    &:before {
      opacity: 1;
    }
  }
}

.input {
  color: white;
  pointer-events: auto;
  height: 100%;

  &:hover {
    background: #0003;
  }

  /*
  &.isDisabled {
    cursor: default;
  }
  */

  &:focus {
    color: white;
  }
}

.list {
  position: absolute;
  // left: 0;
  top: calc(nodeHeight);
  width: calc(100% - nodeIndent - nodePadding);
  overflow: hidden scroll;
  // background: black;
  background: #0e1315;
  padding-top: 1px;

  opacity: 0;
  transform: translateY(6px);
  animation: listAppear 0.2s ease-in-out forwards;

  &.willUnmount {
    animation: listDisappear 0.1s ease-in-out forwards;
  }

  &:empty {
    &:after {
      display: block;
      position: relative;
      content: 'No Match Found!';
      font-size: 10px;
      height: 28px;
      line-height: 28px;
      color: #eee;
      opacity: 0.5;
      text-align: center;
    }
  }
}

@keyframes listAppear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes listDisappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(2px);
  }
}

.option {
  padding: 0 nodeIndent;
  height: 28px;
  line-height: 28px;
  color: #aaa;
  font-weight: 400;
  font-size: 11px;
  cursor: default;

  &.isSelected {
    // color: #000;
    // background-color: rgba(60, 223, 255, .7);
    color: #fff;
    background: #11a4d6;
  }
}
