@value nodeIndent from './NodeContainer.css';
@value nodePadding from './NodeContainer.css';
@value nodeHeight from './NodeContainer.css';

.container {
  display: inline-block;
  cursor: text;
  height: 100%;
}

.input {
  color: white;
  pointer-events: auto;
  height: 100%;
  
  &.isDisabled {
    cursor: default;
  }
}

.list {
  position: absolute;
  top: calc(nodeHeight + 1px);
  width: calc(100% - nodeIndent - nodePadding);
  overflow: hidden scroll;
  background: #0e1315;
  padding: 5px 0;

  opacity: 0;
  transform: translateY(6px);
  animation: listAppear .2s ease-in-out forwards;

  &.willUnmount {
    animation: listDisappear .1s ease-in-out forwards;
  }

  &:empty {
    &:after {
      display: block;
      position: relative;
      content: 'No Match Found!';
      font-size: 10px;
      height: 20px;
      line-height: 20px;
      opacity: .5;
      text-align: center;
    }
  }
}

@keyframes listAppear {
  to {opacity: 1; transform: translateY(0);}
}

@keyframes listDisappear {
  from {opacity: 1; transform: translateY(0);}
  to {opacity: 0; transform: translateY(2px);}
}

.option {
  padding: 0 nodeIndent;
  height: 20px;
  line-height: 20px;
  color: #AAA;
  font-weight: 300;
  font-size: 11px;

  &.isSelected {
    background-color: rgba(60, 223, 255, .3);
  }
}
