.container {
  position: fixed 0 0 0 0;
  z-index: 999999;
}

.item {
  background: #000;
  font-size: 11px;
  padding: 0 2px;
  position: absolute;
  cursor: pointer;

  &.disabled {
    pointer-events: none;
    color: #999;
  }

  animation: appear .15s ease-in-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate3d(
      calc(var(--leftCoeff) * 100%),
      calc(var(--topCoeff) * 100%),
      0);
    }

  30% {opacity: 0;}

  100% {
    opacity: 1;
    transform: translate3d(
      calc(var(--left) * 1px + var(--leftCoeff) * 100%),
      calc(var(--top) * 1px + var(--topCoeff) * 100%),
      0);
    }
}