@value itemColor, focusedItemColor, focusedItemBg from '../DataListView/DataListView.css';
@value arrowWidth: 30px;
@value itemHoverColor: white;

.item {
  position: relative;
  white-space: nowrap;
  padding: 10px calc(arrowWidth + 5px) 10px 10px;
  user-select: none;
  box-sizing: border-box;
  color: itemColor;
  cursor: pointer;

  &:hover {
    background: focusedItemBg;
    color: focusedItemColor;
  }
}

.active {
  color: focusedItemColor;
  font-weight: bold;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
}
