

.container {
  min-width: 560px;

  & > p {
    padding-left: 2px;
  }

  & > p:first-child {
    margin-top: 0;
  }

  & > p:last-child {
    margin-bottom: 0;
  }
}

.hint {
  
  color: #ffc026;
  font-style: italic;
}