@value boxLegendWidth from '$theater/AnimationTimelinePanel/TimelinePanelContent.css';

.selectionContainer {
  position: absolute;
  left: boxLegendWidth;
  top: 0;
  bottom: 0;
  z-index: 10000;
  pointer-events: none;
}

.selectionZone {
  position: sticky;
  left: boxLegendWidth;
  top: 0;
  height: 100%;
  pointer-events: auto;
  cursor: crosshair;

  &.confirm {
    cursor: url('url-loader!./ConfirmCursor.svg'), auto;

    &:after {
      display: block;
      position: absolute;
      content: ' ';
      left: calc(-1 * boxLegendWidth);
      width: boxLegendWidth;
      height: 100%;
    }
  }
}

.selectedArea {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);

  &.movable {
    transition: all 0.3s ease-in-out;
    cursor: move;
  }
}
