@value typographyFont from '../../styles.css';

.anchor {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px rgba(60, 223, 255, 1);
  border: 2px solid rgba(60, 223, 255, 1);
  transform: translate3d(-50%, -50%, 0);
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.4 !important;
}

.item {
  font: typographyFont;
  background: #000;
  font-size: 11px;
  position: absolute;
  border-radius: 12px 12px 12px 12px;
  cursor: pointer;
  height: 26px;
  display: grid;
  display: flex;
  justify-content: flex-start;
  padding: 0 10px 0 4px;
  /* grid-template-columns: 4px [icon] 24px [label] 1fr 10px; */
  align-items: center;
  color: #aaa;
  /* border: 2px solid rgba(60, 223, 255, 0.35) */
  box-shadow: inset 0 0 0 2px rgba(60, 223, 255, 0.35);

  &:not(.disabled) {
    &:hover,
    &.highlight {
      background: rgb(33, 139, 167);
      color: #fff;

      & .key,
      & .icon {
        color: #fff;
      }
    }
  }

  &.disabled {
    border-color: #999;
    box-shadow: inset 0 0 0 2px #666;
    &,
    & .key,
    & > .label,
    & > .icon {
      color: #999;
    }
  }

  animation: appear 0.1s ease-in-out forwards;
}

.icon {
  /* grid-column: icon; */
  font-size: 16px;
  opacity: 0.7;
  width: 24px;
  color: rgba(60, 223, 255, 0.75);
  margin-right: -8px;
}

.label {
  grid-column: label;
  white-space: nowrap;
  margin-left: 8px;
}

.key {
  text-decoration: underline;
  color: rgba(60, 223, 255, 0.7);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate3d(
      calc(var(--leftCoeff) * 100%),
      calc(var(--topCoeff) * 100%),
      0
    );
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate3d(
      calc(var(--left) * 1px + var(--leftCoeff) * 100%),
      calc(var(--top) * 1px + var(--topCoeff) * 100%),
      0
    );
  }
}
