$ringSize: 10px

.timeflow-timeline-prop-pacs-point-handler

	position: absolute
	top: 0
	left: 0

	cursor: move
	z-index: 11

	&:after

		position: absolute
		width: $ringSize
		height: $ringSize
		top: -($ringSize / 2)
		left: -($ringSize / 2)

		content: "\0020"
		display: block

		border-radius: 50%
		background: #0c0c0c
		border: 4px solid #272727

		-webkit-box-sizing: border-box

		-webkit-transition: all 0.3s cubic-bezier(.07,1.15,1,1)

		-webkit-transform: scale(0.7)

	&:hover:after, &.active:after

		-webkit-transform: scale(1)

	&:before

		position: absolute
		content: "\0020"
		display: block

		width: 20px
		height: 20px

		top: -10px
		left: -10px