.timeflow-timeline-prop-selection

	top: -10px
	bottom: -10px

	left: 520px
	right: 420px

	background: rgba(0, 227, 255, 0.1)

	border: 1px dashed transparent
	border-color: transparent rgb(0, 161, 184)

	position: absolute