.timeflow-seekbar

	position: absolute
	top: 0
	left: 0
	right: 8px
	height: 6px

	background: url('../../images/strip-grid.png') repeat-x -11px
	background-color: #0d0d0d

	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

	z-index: 1

.timeflow-seekbar-timeGrid

	position: absolute
	top: 6px
	left: -19px
	right: 8px
	height: 11px

	background: #090909
	// background: red
	user-select: none
	pointer-events: none
	z-index: 0

	overflow: hidden

.timeflow-seekbar-timeGrid-legend

	position: relative
	top: 0
	width: 75px
	text-align: center
	height: 15px

	// float: left

	left: 0px
	top: 3px

	font-family: Helvetica
	font-size: 8px
	color: #636161

	&:nth-child(2n)

		color: #464040

	display: inline-block

.timeflow-seekbar-seeker

	position: absolute

	width: 11px
	height: 15px

	left: -6px

	top: -5px

	cursor: e-resize

	z-index: 3

	background: url('../../images/marker.png')

	&:before

		content: "\0020"
		display: block

		position: absolute

		width: 20px
		height: 50px
		top: -30px

	&:after

		content: "\0020"
		display: block

		position: absolute

		width: 1px
		height: 500px

		left: 5px
		top: 15px

		background: #333

		pointer-events: none

@mixin focusHandle($side)

	position: absolute

	width: 0px
	height: 10px

	top: -2px

	z-index: 2

	&:before

		content: "\0020"
		display: block
		position: absolute
		width: 10px
		height: 10px

		@if $side == 'left'

			right: 0

		@else

			left: 0

	&:after

		content: "\0020"
		display: block
		position: absolute
		#{$side}: 0

		width: 6px
		height: 10px

		background: url('../../images/focus-#{$side}.png')

.timeflow-seekbar-focus-left

	cursor: nwse-resize

	@include focusHandle(left)

.timeflow-seekbar-focus-right

	cursor: sw-resize

	@include focusHandle(right)

.timeflow-seekbar-focus-strip

	position: absolute
	height: 6px

	top: 0
	left: 0

	background: rgb(87, 230, 42)

	z-index: 1

	opacity: 0.1

	cursor: -webkit-grab

	-webkit-transition: opacity 0.2s

	&:hover

		opacity: 0.15

	&.dragging

		opacity: 0.2

		cursor: -webkit-grabbing
