.theatrejs-timelineEditor
  position: absolute
  left: 0
  right: 0
  top: 17px
  height: 100%

  overflow-y: scroll
  overflow-x: hidden

  background: #040404
  z-index: 0

  @inlcude user-select(none)

  .badFirefoxScrollbar &
    right: -15px

@import "./timelineEditor/prop"
@import "./timelineEditor/guides"