@-webkit-keyframes workspaceButtons-entrance

	0%

		opacity: 0
		-webkit-transform: perspective(800) translate3d(0, 0, -50px)

	100%

		opacity: 1
		-webkit-transform: perspective(1200) translate3d(0px, 0, 0)

@mixin expand-area

	&:after

		position: absolute
		left: -5px
		right: -5px
		bottom: -5px
		top: -5px

		content: "\0020"
		display: block

@mixin button ($src, $left)

	width: 13px
	height: 40px

	cursor: pointer

	background: url($src) no-repeat center center

	margin-left: $left

	float: left

	opacity: .7

	-webkit-transform: translateZ(1px)

	-webkit-transition: opacity .5s

	&:hover

		-webkit-transition: opacity .1s

		-webkit-transform: translate3d(0, -1px, 1px)


		opacity: 1

	@include expand-area


.theatrejs-workspaceButtons

	-webkit-transition: 0.3s all

	-webkit-transform: translate3d(0, 42px, 1px)

	&:hover, &.visible

		-webkit-transform: translate3d(0, 0px, 0px)


	&:before

		display: block
		content: "\0020"
		position: absolute
		top: -10px
		height: 10px
		left: 0
		right: 0


	position: fixed
	bottom: 0

	width: 220px
	height: 42px

	z-index: 3

	background: #040404

	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

	.theatrejs-workspaceButtons-showGraph

		@include button ("../../images/objects-list.png", 10%)

	.theatrejs-workspaceButtons-activeWorkspaceName

		display: block
		float: left

		color: #848484

		font-size: 12px

		height: 42px

		line-height: 43px

		margin-left: 12px

		cursor: pointer

		min-width: 80px

		text-transform: uppercase

		-webkit-transform: translateZ(1px)

		-webkit-transition: all .5s

		&:hover

			-webkit-transition: all .1s

			-webkit-transform: translate3d(0, -1px, 1px)

			color: #aaa

		@include expand-area