.timeflow-workspaceList

	cursor: default

	position: fixed
	bottom: 48px
	left: 30px

	background: #040404

	color: white

	padding: 16px

	-webkit-transform: translate3d(0, 0, 1px)

	z-index: 3

	&.show

		-webkit-transform: translate3d(0px, 0, 1px)

.timeflow-workspaceList-holder

	float: left

.timeflow-workspaceList-holder > .timeflow-workspaceList-workspace

	// &:after

	// 	display: block
	// 	content: "\0020"

	// 	right: -16px
	// 	top: 4px

	// 	width: 1px
	// 	height: 12px

	// 	background: rgb(32, 31, 31)

	// 	position: absolute

	margin-right: 31px


.timeflow-workspaceList-workspace

	float: left

	margin-right: 10px

	-webkit-user-select: initial

	position: relative

	text-transform: uppercase

	font-size: 12px