.timeflow-workspaceList

	cursor: default

	position: fixed
	bottom: 48px
	left: 30px

	background: #040404

	color: white

	padding: 16px

	-webkit-transform: translate3d(0, 20px, 1px)

	opacity: 0

	z-index: 3

	transition: 0.3s all

	pointer-events: none

	&.show

		-webkit-transform: translate3d(0px, 0, 1px)

		opacity: 1

		pointer-events: auto

.timeflow-workspaceList-holder

	float: left

.timeflow-workspaceList-holder > .timeflow-workspaceList-workspace

	// &:after

	// 	display: block
	// 	content: "\0020"

	// 	right: -16px
	// 	top: 4px

	// 	width: 1px
	// 	height: 12px

	// 	background: rgb(32, 31, 31)

	// 	position: absolute

	margin-right: 31px


.timeflow-workspaceList-workspace

	float: left

	margin-right: 10px

	-webkit-user-select: initial

	position: relative

	text-transform: uppercase

	font-size: 12px

	cursor: pointer

	padding: 0 2px

	opacity: 0.7

	border-bottom: 1px solid transparent

	&:hover

		opacity: 1

	&.editing

		opacity: 1

		border-bottom: 1px solid #383636

		cursor: text