@-webkit-keyframes workspaceListItem-entrance

	0%

		opacity: 0
		-webkit-transform: perspective(800) translate3d(0, 0, -50px)

	100%

		opacity: 1
		-webkit-transform: perspective(1200) translate3d(0px, 0, 0)

.timeflow-workspaceList

	cursor: default

	position: fixed
	bottom: 48px
	left: 30px

	background: #040404

	color: white

	padding: 16px

	-webkit-transform: translate3d(0, 20px, 1px)

	opacity: 0

	z-index: 3

	transition: 0.3s all

	pointer-events: none

	&.visible

		-webkit-transform: translate3d(0px, 0, 0px)

		opacity: 1

		pointer-events: auto

.timeflow-workspaceList-holder

	float: left

.timeflow-workspaceList-holder > .timeflow-workspaceList-workspace

	.visible &

		-webkit-animation: workspaceListItem-entrance 0.5s both
		-webkit-animation-direction: normal

	@for $i from 0 to 20

		&:nth-child(#{$i})

			$delay: $i * 0.025s

			-webkit-animation-delay: $delay

	margin-right: 31px
	-webkit-transform-origin: 0% 0%

.timeflow-workspaceList-workspace

	float: left

	margin-right: 10px

	-webkit-user-select: initial

	position: relative

	text-transform: uppercase

	font-size: 12px

	cursor: pointer

	padding: 0 2px

	opacity: 0.7

	border-bottom: 1px solid transparent

	&:hover

		opacity: 1

	&.editing

		opacity: 1

		border-bottom: 1px solid #383636

		cursor: text