:global(.container) {
  position: fixed 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

:global(.scene) {
  // width: 700px;
  width: calc(100% - 500px);
  height: calc(100% - 425px);

  background: #242424;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

:global(.ball) {
  width: 80px;
  height: 80px;
  background-size: 80px 80px;
  background-image: url('./theBall.png');
  transform-origin: 50% 100%;
}