:global(.scene), :global(.container) {
  position: absolute 0;
}

:global(.ball) {
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  /* background-size: 80px 80px; */
  /* background-image: url('./theBall.png'); */
  transform-origin: 50% 100%;
  z-index: 2;
  background: #8f3ea0;

  &:hover {
    /* box-shadow: 10px 10px 10px red; */
  }
}