.container {
  display: flex;
  widht: 100%;
  height: 100%;
}

.hardCoded {
  font-size: 18px;
  color: #AAA;
  width: 100%;
  align-self: center;
  text-align: center;
}

.noElement {
  font-size: 14px;
  color: #666;
  width: 100%;
  align-self: center;
  text-align: center;
}
