.container {
  background: #000;
  position: relative;
  width: 100%;
  top: 20%;
  height: fit-content;
  max-height: 50%;
  /*overflow: scroll;*/
  overflow-x: hidden;
  overflow-y: scroll;
}

.noScroll {
  overflow: hidden;
}
