.container {
  position: absolute 0 0 0 0;
  background: #eee;
  z-index: 10;
  color: #333;
}

.title {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 5px;
}

.tags {
  height: calc(100% - 40px);
  overflow: scroll;
}

.tag {
  font-size: 14px;
  padding-left: 15px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, .2);
  }
}