@value typographyFont from '../common/styles.css';

.container {
  font: typographyFont;
  position: fixed;
  left: 0;
  top: 35px;
  z-index: 10001;

  transform-origin: 50% 50%;
  animation: containerAppear 0.25s ease-out forwards;

  &:before {
    content: ' ';
    display: block;
    position: absolute 0;
    filter: blur(40px);
    background: #000;
    opacity: 0.2;
    z-index: -1;
  }
}

.wrapper {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 100px;
  overflow-y: scroll;
  padding: 10px 0;
}

@keyframes containerAppear {
  from {
    opacity: 0;
    transform: perspective(800px) translateZ(10px);
  }
  to {
    opacity: 1;
    transform: perspective(800px) translateZ(0);
  }
}
