.textLogo {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  border-radius: 2px;
  line-height: 16px;
  color: #4f5d77;
  text-align: center;
  margin-left: -18px;
  @add-mixin typography from '$studio/common/styles.css';
}

.textContent {
  @add-mixin typography from '$studio/common/styles.css';
  color: white;
  white-space: nowrap;
  display: inline-block;
}