.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
}

.canvas {
  position: relative;
  left: 0;
  height: 100%;
  width: 100%;
}

.stamps {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  z-index: 2;
  will-change: transform;
}

.fullSecondStamp {
  position: absolute;
  padding-top: 5px;
  color: var(--colors-set-24);
  font-size: 10px;
  transform: translateX(-50%);
}

.frameStamp {
  position: absolute;
  top: 5px;
  color: var(--colors-set-24);
  font-size: 10px;
  text-align: center;
  transform: translateX(-50%);
  background: var(--colors-space-bg);
  padding: 0 20px;
  font-variant-numeric: tabular-nums;
}

.frameStampLine {
  position: absolute;
  top: 5px;
  left: 0;
  bottom: 0;
  width: 1px;
  background: rgba(100, 100, 100, 0.2);
}
