.container {
  position: absolute;
  border: 1px solid #adadad;
  background: white;
  
  &.isActive {
    border-color: #6d6d73;
  }
}

.content {
  position: absolute 0;
  overflow: hidden;
  z-index: 0;
}

.unclickable {
  position: absolute 0;
  z-index: 1;
}

.header {
  position: absolute;
  top: -20px;
  left: 0;
  @add-mixin typography from '$studio/common/styles.css';

  color: #9c9c9c;
  font-size: 10px !important;
  font-weight: 500 !important;
}

.isActive > .header {
  color: black;
}

.headerSeperator {
  margin: 0 1em;
}