.container {
  position: absolute;
  border: 1px solid #adadad;
  background: white;

  &.isActive {
    border-color: #6d6d73;
  }
}

.content {
  position: absolute 0;
  overflow: hidden;
  z-index: 0;
}

.unclickable {
  position: absolute 0;
  z-index: 1;
}
