@value bottomHeight from './Bottom/Bottom.css';

.container {
  position: fixed _ 20px 20px 20px;
  background: #263238;

  color: rgba(255, 255, 255, 0.8);
  font: 12px -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
    HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
}

.middle {
  position: absolute 0 0 bottomHeight 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}

.seekBar {
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  background: red;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  background: #AAA;
  overflow-x: scroll;
}

.leftContent {
  height: 800px;
  background-image:linear-gradient(0deg, transparent 50%, #aaa 50%),
                 linear-gradient(90deg, #aaa 50%, #ccc 50%);
background-size:50px 50px,50px 50px;
background-position:0 0, 0 25px;
}

.rightContent {
  height: 800px;
  width: 9000px;

  background-image:linear-gradient(0deg, transparent 50%, blue 50%),
                 linear-gradient(90deg, blue 50%, #ccc 50%);
background-size:50px 50px,50px 50px;
background-position:0 0, 0 25px;
}

.bottom {
  position: absolute _ 0 0 0;
  height: bottomHeight;
}