@value bottomHeight from './Bottom/Bottom.css';
@value panelBgColor: #263238;

.container {
  // position: fixed _ 20px 20px 20px;
  position: fixed;
  background: panelBgColor;

  color: rgba(255, 255, 255, 0.8);
  font: 12px -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
    HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
}

.middle {
  position: absolute 0 0 bottomHeight 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.middle::-webkit-scrollbar {
  display: none;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  overflow-x: visible;
}

.right {
  position: absolute;
  top: 0;
  right: 0;

  &:before {
    display: block;
    position: absolute 0;
    content: ' ';
    z-index: -1;
    background: #1b2226;
  }
}

.bottom {
  position: absolute _ 0 0 0;
  height: bottomHeight;
}
