.container {
  position: fixed _ 20px 20px 20px;
  background: #263238;

  color: rgba(255, 255, 255, 0.8);
  font: 12px -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
    HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
}
