.container {
  position: absolute 0;
  bottom: 26px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: var(--colors-set-1);
  z-index: 10000;
}

.message {
  width: 80%;
  text-align: center;
  font-size: 15px;
  line-height: 22px;

  & p {
  }

  & a {
    color: inherit;
  }
}