.container {
  display: flex;
  widht: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 18px;
  color: #AAA;
}

.noElement {
  font-size: 14px;
  color: #666;
}