.pointClickArea {
  cursor: default;

  &:hover,
  &:active {
    cursor: move;
  }

  &.ewCursor {
    &:hover,
    &:active {
      cursor: ew-resize;
    }
  }

  &.highlightRedOnHover {
    cursor: default;
  }
}

.pointClickArea.highlightAsSelected ~ ._deprecatedPointGlow {
  /* filter: url('#glow'); */
  opacity: 1;
}

.pointClickArea:not(.highlightRedOnHover):hover ~ ._deprecatedPointGlow,
.pointClickArea:not(.highlightRedOnHover):active ~ ._deprecatedPointGlow {
  /* filter: url('#glow'); */
  opacity: 1;
}

.pointClickArea.highlightAsSelected ~ .pointStroke,
.pointClickArea:not(.highlightRedOnHover):hover ~ .pointStroke,
.pointClickArea:not(.highlightRedOnHover):active ~ .pointStroke {
  stroke-width: 1px;
  r: 6px;
  /* stroke: white; */
}

.pointClickArea.highlightRedOnHover:hover ~ .pointStroke,
.pointClickArea.highlightRedOnHover:active ~ .pointStroke {
  stroke: red;
}

._deprecatedPointGlow {
  opacity: 0 !important;
  pointer-events: none;
}

.pointStroke {
  pointer-events: none;
}

.pointCenter {
  pointer-events: none;
}
