.pointClickArea {
  cursor: default;

  &:hover,
  &:active {
    cursor: move;
  }

  &.ewCursor {
    &:hover,
    &:active {
      cursor: ew-resize;
    }
  }

  &.highlightRedOnHover {
    cursor: default;
  }
}

.pointClickArea.highlightAsSelected ~ .pointGlow {
  filter: url('#glow');
  opacity: 1;
}

.pointClickArea.highlightAsSelected ~ .pointStroke {
  stroke-width: 4px;
}

.pointClickArea:not(.highlightRedOnHover):hover ~ .pointGlow,
.pointClickArea:not(.highlightRedOnHover):active ~ .pointGlow {
  filter: url('#glow');
  opacity: 1;
}

.pointClickArea:not(.highlightRedOnHover):hover ~ .pointStroke,
.pointClickArea:not(.highlightRedOnHover):active ~ .pointStroke {
  stroke-width: 4px;
}

.pointClickArea.highlightRedOnHover:hover ~ .pointStroke,
.pointClickArea.highlightRedOnHover:active ~ .pointStroke {
  stroke: red;
}

.pointGlow {
  opacity: 0;
  pointer-events: none;
}

.pointStroke {
  pointer-events: none;
}

.pointCenter {
  pointer-events: none;
}
