@value typographyFont from '../common/styles.css';

.textLogo {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  border-radius: 2px;
  line-height: 16px;
  color: #5d6b85;
  text-align: center;
  margin-left: -8px;
  font: typographyFont;
}

.textContent {
  font: typographyFont;
  color: #aaa;
  line-height: 30px;
  white-space: nowrap;
  display: inline-block;
}