.theatre-timelineEditor-panner

	position: absolute
	top: 0
	left: 0

	width: 1000px
	height: 5px

	transform-origin: top left

	background-color: #777

	transition: background-color .15s

	z-index: 1

	&:after

		content: " "

		position: absolute
		top: -4px
		bottom: -4px
		left: -4px
		right: -4px

		display: block

	&:hover

		background: #EEE