.content 
  font-size 15px !important

.site-name
  display: none !important

.logo 
  height: 1.8rem !important
  vertical-align: middle !important

.content a > code 
  background-color rgba(86, 155, 45, 0.13)

.sidebar a.sidebar-link
  font-size 15px !important
  font-weight normal !important

.sidebar a.sidebar-link.active
  font-weight bold !important

.sidebar > .sidebar-links > li:not(:first-child) 
  margin-top 0.25rem !important
