.container {
  /*padding: 20px;*/
  /*border-bottom: 1px solid #303030 ;*/
  --horizontal-padding: 12px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.titleContainer {
  margin-bottom: 10px;
  position: relative;
}

.title {
  padding: 0 var(--horizontal-padding);
  text-transform: uppercase;
  background: #414141;
  height: 30px;
  line-height: 30px;
  font-weight: 600;
  font-size: 9px;
  color: #d5d5d5;
}

.bodyContainer {
  padding: 4px var(--horizontal-padding);
  box-sizing: border-box;
}

.triangle {
  display: none;
  position: absolute;
  top: 0;
  right: var(--horizontal-padding);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 8px 0 8px;
  border-color: var(--body-color) transparent transparent transparent;
}
