.highlightRedOnHover:hover ~ .connectorPath {
  stroke: red;
}

.connectorPath {
  pointer-events: none;
}

.curveContainer {
  overflow: visible;
}

:global(.key-SUPER) .curveContainer {
  pointer-events: none;
}