.handleClickArea {
  cursor: default;

  &:hover,
  &:active {
    cursor: move;
  }
}

:global(.key-SUPER) .handles {
  pointer-events: none;
}

.handleClickArea:hover ~ .handle,
.handleClickArea:active ~ .handle {
  stroke-width: 6px;
}

.handle {
  pointer-events: none;
}
