.handleClickArea {
  cursor: default;

  &:hover, &:active {
    cursor: move;
  }
}

.handleClickArea:hover ~ .handle,
.handleClickArea:active ~ .handle {
  stroke-width: 3px;
}

.handle {
  pointer-events: none;
}