.container {
  position: absolute;
  box-sizing: border-box;
  --panelTopBarHeight: 34px;
  --body-color: #263238;

  &:hover {
    z-index: 100;
  }
  &.isActive {
    background: red;
  }
  /* --borders-color: #312424; */
  /* --shadows: #263238; */

  /* &:before {
    position: absolute 0;
    content: ' ';
    display: block;
    background: rgba(0, 0, 0, 0.7);
    z-index: -2;
  }

  &:after {
    position: absolute 1px;
    content: ' ';
    display: block;
    border: 1px solid #38a2ca;
    z-index: -1;
    opacity: 0.2;
  }

  &.isActive:after {
    opacity: 1;
  } */
}

.innerWrapper {
  background: var(--body-color);
  position: absolute 0px;
  z-index: 0;
  overflow-y: scroll;
}

.content {
  position: absolute var(--panelTopBarHeight) 0 0 0;
  z-index: 0;
  
}

.headerLess .content {
  top: 0;
}

.displayNone {
  display: none;
}

/*.settings {
  display: inline-block;
  font-size: 14px;
  color: rgba(150, 150, 150, .3);
  cursor: pointer;

  &:hover {
    color: rgba(150, 150, 150, .8);
    text-decoration: underline;
  }
}*/

.topBar {
  /* position: absolute 0 0 auto 0;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  background: var(--shadows);
  border-bottom: 1px solid var(--borders-color);
  z-index: 1;
  box-shadow: 0 2px 9px -6px black; */

  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  position: absolute;
  height: var(--panelTopBarHeight);
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #202b32;
  z-index: 1;
  box-shadow: 0 2px 9px -6px black;
}

.title {
  /* padding: 0 16px;
  color: rgba(255, 255, 255, 0.7);
  background: var(--body-color);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 30px;
  border-right: 1px solid var(--borders-color); */

  padding: 0 16px;
  color: rgb(137, 169, 179);
  /* background: var(--body-color); */
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  /* line-height: 30px; */
  display: flex;
  border-right: 1px solid var(--borders-color);
  align-items: center;

  /* font-family: "Avenir Next Condensed"; */
}

.headerLess {
  & .topBar {
    display: none;
  }


}
