.theatrejs-timelineEditor-guides

	position: fixed

	pointer-events: none

	top: 0
	bottom: 0
	left: 0
	right: 0

	z-index: 10

.theatrejs-timelineEditor-guides-guide

	position: absolute
	top: 0
	left: 0
	bottom: -500px
	width: 1px

	background: rgb(0, 173, 245)

	opacity: 0.12