.pointClickRect {
  cursor: default;
}

.pointClickRect.highlightAsSelected ~ .pointGlow {
  filter: url('#glow');
  opacity: 1;
}

.pointClickRect.highlightAsSelected ~ .pointStroke {
  stroke-width: 4px;
}

.pointClickRect:not(.highlightRedOnHover):hover ~ .pointGlow,
.pointClickRect:not(.highlightRedOnHover):active ~ .pointGlow {
  filter: url('#glow');
  opacity: 1;
}

.pointClickRect:not(.highlightRedOnHover):hover ~ .pointStroke,
.pointClickRect:not(.highlightRedOnHover):active ~ .pointStroke {
  stroke-width: 4px;
}

.pointClickRect.highlightRedOnHover:hover ~ .pointStroke,
.pointClickRect.highlightRedOnHover:active ~ .pointStroke {
  stroke: red;
}

.pointGlow {
  opacity: 0;
  pointer-events: none;
}

.pointStroke {
  pointer-events: none;
}

.pointCenter {
  pointer-events: none;
}

.handleClickRect {
  cursor: default;
}

.handleClickRect:hover ~ .handle,
.handleClickRect:active ~ .handle {
  stroke-width: 3px;
}

.handle {
  pointer-events: none;
}
