# these lock files include checksums of the @theatre/*@compat packages, which
# would change after every edit to their source, so we better not keep them
# in the repo
/fixtures/*/package/package-lock.json
/fixtures/*/package/yarn.lock