@mixin user-select($stuff)
  -webkit-user-select: $stuff
  -moz-user-select: $stuff
  -ms-user-select: $stuff
  -o-user-select: $stuff
  user-select: $stuff

@mixin transform($stuff)
  -webkit-transform: $stuff
  -ms-transform: $stuff
  -o-transform: $stuff
  transform: $stuff

@mixin transform-origin($stuff)
  -webkit-transform-origin: $stuff
  -ms-transform-origin: $stuff
  -o-transform-origin: $stuff
  transform-origin: $stuff

@mixin transform-style($stuff)
  -webkit-transform-style: $stuff
  -ms-transform-style: $stuff
  -o-transform-style: $stuff
  transform-style: $stuff

@mixin animation($stuff)
  -webkit-animation: $stuff
  -ms-animation: $stuff
  -o-animation: $stuff
  animation: $stuff

@mixin animation-delay($stuff)
  -webkit-animation-delay: $stuff
  -ms-animation-delay: $stuff
  -o-animation-delay: $stuff
  animation-delay: $stuff

@mixin animation-direction($stuff)
  -webkit-animation-direction: $stuff
  -ms-animation-direction: $stuff
  -o-animation-direction: $stuff
  animation-direction: $stuff

@mixin keyframes($name)
  @-webkit-keyframes #{$name}
    @content

  @-o-keyframes #{$name}
    @content

  @keyframes #{$name}
    @content

@mixin transition($stuff)
  -webkit-transition: $stuff
  transition: $stuff

@mixin user-select($stuff)
  -webkit-user-select: $stuff
  -moz-user-select: $stuff
  -ms-user-select: $stuff
  -o-user-select: $stuff
  user-select: $stuff

@mixin box-sizing($stuff)
  -moz-box-sizing: $stuff
  box-sizing: $stuff

@mixin psuedo
  display: block
  content: "\0020"