.connectorClickArea.highlightRedOnHover:hover,
.connectorClickArea.highlightRedOnHover:active {
  cursor: auto;

  & ~ .connector {
    fill: red;
    stroke: red;
  }
}

.connectorClickArea:hover, .connectorClickArea:active {
  cursor: ew-resize;
}

.connector {
  pointer-events: none;
}

.connectorClickArea.ignoreMouse {
  pointer-events: none;
}