{
  "env": {
    "examples:development": {
      "presets": [
        ["env", {"targets": {"chrome": "56", "modules": false}}],
        "react",
        "stage-1"
      ]
    },
    "examples:production": {
      "presets": [
        ["env", {"targets": {"chrome": "56", "modules": false}}],
        "react",
        "stage-1"
      ]
    }
  }
}
