body {
  margin: 0;
  padding: 0;

  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  user-select: none;
 }

 * {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  background: none;
 }