$panelZIndex: 10000;
$statusBarZIndex: calc($panelZIndex + 1);

@mixin typography {
  font: 12px -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
}

