.container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;

  &.suppressPointerEvents {
    pointer-events: none;

    & > * {
      pointer-events: auto;
    }
  }
}
