@value typographyFont from '$theater/common/styles.css';

@value bottomHeight: 26px;

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: bottomHeight;
  background: #1e2a30;
  color: #3d666b;
  display: flex;
  border-radius: 0 0 4px 4px;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;
  /* padding-left: 20px; */

  &.attention {
    background: rgb(198, 191, 40);
    color: black;
  }
}

.leftContainer {
  display: flex;
}

.rightContainer {
  display: flex;
}

.item {
  padding: 0 10px;
  font: typographyFont;
  line-height: bottomHeight;
  font-size: 11px;
  font-weight: normal;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;

  &:hover {
    background: #18242a;
    /* color: #688f9e; */
  }
  &:active {
    background: #141d21;
    color: #3b5162;
  }
  &.focusOfAttention {
    font-weight: bold;
    background: yellow;
  }
}

.icon {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
}
