@value typographyFont from '../../../../../shared/styles.css';

@value bottomHeight: 26px;

.container {
  position: absolute 0;
  background: var(--colors-panel-edge);
  color: var(--colors-panel-feint-text);
  display: flex;
  border-radius: 0 0 4px 4px;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;
  /* padding-left: 20px; */

  &.attention {
    background: rgb(198, 191, 40);
    color: black;
  }
}

.leftContainer {
  display: flex;
  min-width: 0;
}

.rightContainer {
  display: flex;
  background: var(--colors-panel-edge);
  height: 100%;
}

.moveHandle {
  display: flex;
  flex-grow: 1;
  height: 100%;
  cursor: move;
}

.logoSvg {
  width: 52px;
  height: 100%;
  position: relative;

  & > svg {
    top: 7px;
    right: 0;
    left: 0;
    position: absolute;
  }
}

.logo {
  color: inherit;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 8px;
  cursor: default;
  &:hover {
    color: var(--colors-panel-feint-text);
    background: var(--colors-set-16);
  }

}