@value typographyFont from '$shared/styles.css';

@value bottomHeight: 26px;

.container {
  position: absolute 0;
  background: #1e2a30;
  color: #3d666b;
  display: flex;
  border-radius: 0 0 4px 4px;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;
  /* padding-left: 20px; */

  &.attention {
    background: rgb(198, 191, 40);
    color: black;
  }
}

.leftContainer {
  display: flex;
  min-width: 0;
}

.rightContainer {
  display: flex;
  background: #1e2a30;
}

.moveHandle {
  display: flex;
  flex-grow: 1;
  height: 100%;
  cursor: move;
}
