.theatrejs
  position: fixed
  right: 0
  height: 0
  bottom: 0
  left: 0

  text-align: left
  direction: ltr
  font-family: Helvetica !important

  transition: opacity 0.3s

  &.hidden
    opacity: 0

    &:hover
      opacity: 1

@import "./_prepare/mixins"
@import "./_parts/graph"
@import "./_parts/controls"
@import "./_parts/mainBox"
@import "./_parts/asker"
@import "./_parts/chooser"
@import "./_prepare/general"
@import "./_prepare/reset"
@import "./_parts/strip"