.timeflow

	position: fixed

	right: 0
	top: 0
	bottom: 0
	left: 0

	text-align: left
	direction: ltr

	font-family: Helvetica !important

@import "./_parts/_structure"
@import "./_parts/_controls"
@import "./_parts/_timeline"
@import "./_prepare/_general"
@import "./_prepare/_reset"
@import "./_parts/_strip"