@import "_setup/mixins"

.theatrejs

	@include fill
	position: fixed

.theatrejs *

	padding: 0
	margin: 0

@import "./components/scrollableArea"
@import "./components/timelineBox"

.dummyPoint

	width: 5px
	height: 5px
	background: transparent
	border: 2px solid #DDD
	border-radius: 50%
	position: absolute
	top: 0
	left: 0