@import "_setup/mixins"

.theatrejs

	@include fill
	position: fixed

.theatrejs *

	padding: 0
	margin: 0

@import "./components/timelineBoxScrollableArea"
@import "./components/timelineBox"
@import "./components/timelineBoxPanner"
@import "./components/timelineBoxGuides"

.dummyPoint

	width: 4px
	height: 4px
	background: black
	border: 2px solid #DDD
	border-radius: 50%
	position: absolute
	top: -4px
	left: -4px