.container {
  position: relative;
  // left: 30px;
  height: 100%;
  background: url('url-loader!./GridBG.svg');
  background-color: #1B2226;
  /* background-size: 22px 22px; */
  // padding-right: 30px;

  &.blueAddCursor svg {
    cursor: url('url-loader!./AddCursorBlue.svg'), auto;
  }
  &.redAddCursor svg {
    cursor: url('url-loader!./AddCursorRed.svg'), auto;
  }
  &.purpleAddCursor svg {
    cursor: url('url-loader!./AddCursorPurple.svg'), auto;
  }
  &.yellowAddCursor svg {
    cursor: url('url-loader!./AddCursorYellow.svg'), auto;
  }
}

.svgArea {
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 0;
}
