:global(.connector-highlightRedOnHover):hover ~ .connectorPath {
  stroke: red;
}

:global(.connector-highlightRedOnHover):hover {
  cursor: pointer;
}

.connectorPath {
  pointer-events: none;
}

.curveContainer {
  overflow: visible;
}
