.highlightRedOnHover:hover ~ .connectorPath {
  stroke: red;
}

.highlightRedOnHover:hover {
  cursor: pointer;
}

.connectorPath {
  pointer-events: none;
}

.curveContainer {
  overflow: visible;
}
