@value boxLegendWidth from '$theater/AnimationTimelinePanel/TimelinePanelContent.css';

.container {
  position: absolute;
  left: boxLegendWidth;
  top: 0;
  height: 100%;
  background: #1b2226;
}

.canvas {
  position: relative;
  left: 0;
  height: 100%;
}

.stamps {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  will-change: transform;
}

.fullSecondStamp {
  position: absolute;
  padding-top: 5px;
  color: #888;
  font-size: 10px;
  transform: translateX(-50%);
}

.frameStamp {
  position: absolute;
  padding-top: 5px;
  color: #555;
  font-size: 10px;
  text-align: center;
  transform: translateX(-50%);
}
