.pointClickRect {
  cursor: pointer;
}

.pointClickRect.highlightAsSelected ~ .pointGlow {
  filter: url('#glow');
  opacity: 1;
}

.pointClickRect.highlightAsSelected ~ .pointStroke {
  stroke-width: 4px;
}

.pointClickRect:not(.highlightRedOnHover):hover ~ .pointGlow,
.pointClickRect:not(.highlightRedOnHover):active ~ .pointGlow {
  filter: url('#glow');
  opacity: 1;
}

.pointClickRect:not(.highlightRedOnHover):hover ~ .pointStroke,
.pointClickRect:not(.highlightRedOnHover):active ~ .pointStroke {
  stroke-width: 4px;
}

.pointClickRect.highlightRedOnHover:hover ~ .pointStroke,
.pointClickRect.highlightRedOnHover:active ~ .pointStroke {
  stroke: red;
}

.pointGlow {
  opacity: 0;
  pointer-events: none;
}

.pointStroke {
  pointer-events: none;
}

.pointCenter {
  pointer-events: none;
}

.handleClickRect {
  cursor: pointer;
}

.handleClickRect:hover ~ .handle,
.handleClickRect:active ~ .handle {
  stroke-width: 3px;
}

.handle {
  pointer-events: none;
}

.pointTip {
  position: fixed;
  width: 50px;
  height: 32px;
  background: #101010;
  border-radius: 10%;
  padding: 0 4px;
  box-sizing: border-box;
  box-shadow: 0 0px 15px 1px #101010;
}

.pointTipRow {
  height: 15px;
  font-size: 10px;
  line-height: 15px;
  color: #888;
  &:first-child {
    margin-bottom: 2px;
  }
}

.pointTipIcon {
  font-size: 7px;
  line-height: 14px;
  color: #444;
  margin-right: 2px;
  vertical-align: middle;
}

.pointTipInput {
  max-width: 32px;
  display: inline-block;
  font-size: 10px;
}