@value minBoxHeight from './ModifierBox.css';
@value sensorHeight: 2px;

.container {
  position: relative;
  width: calc(100% - 2px);
  left: 1px;
  height: sensorHeight;
  z-index: 100;
  --hitZoneOffset: calc(-0.3 * minBoxHeight);

  &.isCommandDown:before,
  &.isABoxBeingDragged:before {
    display: block;
    content: ' ';
    position: absolute var(--hitZoneOffset) 0 var(--hitZoneOffset) 0;
  }

  &.isCommandDown:hover {
    background: cyan;
    cursor: cell;
  }

  &.isABoxBeingDragged:hover {
    background: cyan;
    cursor: alias;
  }
}
