@value minBoxHeight: 27px;

.container {
  position: relative;
  width: calc(100% - 16px);
  left: 8px;
  box-sizing: border-box;
  color: #bbb;
  font-size: 11px;

  &.appear {
    animation: containerAppear 0.2s ease-in-out forwards;
    background: #0e1315;
  }

  &.initialize {
    overflow: hidden;
    animation: containerInitialize 0.2s ease-in-out forwards;
  }

  &.collapse {
    animation: containerCollapse 0.25s ease-out forwards;
    overflow: hidden;
    & + div {
      height: 0;
      transition: all 0.1s;
    }
  }

  &.move {
    animation: containerMove 0.25s ease-in-out forwards;
  }

  &.isBeingDragged {
    box-shadow: 0 0 0 2px #3cdfff;
    z-index: 1000;
    opacity: 0.8;
    pointer-events: none;
  }
}

@keyframes containerAppear {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: minBoxHeight;
    opacity: 1;
  }
}

@keyframes containerInitialize {
  from {
    opacity: 0;
    height: minBoxHeight;
  }
  to {
    opacity: 1;
    height: var(--height);
  }
}

@keyframes containerCollapse {
  from {
    height: var(--height);
  }
  to {
    height: 0;
  }
}

@keyframes containerMove {
  from {
    transform: translate3d(var(--fromX), var(--fromY), 0);
  }
  to {
    transform: translate3d(0, var(--toY), 0);
  }
}
