@value minBoxHeight: 27px;

.container {
  position: relative;
  width: calc(100% - 2px);
  left: 1px;
  box-sizing: border-box;
  padding-left: 20px;
  line-height: calc(var(--height)*1px);
  height: var(--height);
  color: #BBB;
  font-size: 11px;

  &.appear {
    max-height: 0;
    animation: containerAppear .2s ease-in-out forwards;
    background: black;
  }

  &.initialize {
    &:before {
      position: absolute 0;
      display: block;
      content: ' ';
      background: black;
      animation: containerInitialize .2s ease-in-out forwards;
    }
  }

  &.collapse {
    animation: containerCollapse .25s ease-out forwards;
    & + div {
      height: 0;
      transition: all .1s;
    }
  }

  &.move {
    animation: containerMove .25s ease-in-out forwards;
  }

  &.isBeingDragged {
    z-index: 1000;
    background: rgba(0, 200, 200, .8);
    color: #FFF;
    pointer-events: none;
  }
}

@keyframes containerAppear {
  from {max-height: 0; opacity: 0;}
  to {max-height: var(--height); opacity: 1;}
}

@keyframes containerInitialize {
  from {opacity: 1}
  to {opacity: 0}
}

@keyframes containerCollapse {
  from {max-height: var(--height);}
  to {max-height: 0;}
}

@keyframes containerMove {
  from {transform: translate3d(var(--fromX), var(--fromY), 0)}
  to {transform: translate3d(0, var(--toY), 0)}
}
