.inputContainer {
  position: absolute;
  left: var(--left);
  top: var(--top);
  width: var(--width);
  height: var(--height);

  & > input {
    width: 100%;
    height: 100%;
    line-height: var(--height);
    font-size: 12px;
    padding: 0 5px;
    box-sizing: border-box;
  }
}

.listContainer {
  position: absolute;
  background: green;
  overflow: scroll;

  left: calc(var(--left)*1px + 10px);
  top: calc(var(--top)*1px + var(--height)*1px + 2px);
  width: calc(var(--width)*1px - 20px);
  height: 100px;

  animation: appear .25s cubic-bezier(0.175, 0.885, 0.32, 1.575);
}

@keyframes appear {
  from {
    opacity: 0; transform: translateY(-10px);
  }
  to {
    opacity: 1; transform: translateY(0);
  }
}