.timeflow-timeline-prop-pacsContainer

	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0

	z-index: 0

	overflow: hidden

.timeflow-timeline-prop-pacs

	position: absolute
	top: 20px
	bottom: 20px
	left: 0
	right: 0

.timeflow-timeline-prop-pacs-connector

	position: absolute
	bottom: 0
	left: 0

	z-index: 0

$size: 10px
$bigSize: $size * 1.2

.timeflow-timeline-prop-pacs-point

	z-index: 10

	width: $size
	height: $size
	position: absolute

	top: -($size / 2)
	left: -($size / 2)

	border-radius: 50%

	-webkit-box-sizing: border-box

	border: 2px solid #367c89

	background: #080808

	&:hover

		border-color: #00fff0
		width: $bigSize
		height: $bigSize

		top: -($bigSize / 2)
		left: -($bigSize / 2)

	cursor: pointer

	&:before

		position: absolute
		left: -5px
		right: -5px
		bottom: -5px
		top: -5px

		content: "\0020"
		display: block

.timeflow-timeline-prop-pacs-point-valueContainer

	opacity: 0

	&.visible

		opacity: 1

	position: absolute

	$w: 60px
	$h: 20px

	width: $w
	height: $h

	left: (-$w) / 2
	top: (-$h) / 2

	background: black !important

	color: #FFF

	font-size: 11px

	border: none

	text-align: center