@value typographyFont from '../styles.css';

.container {
  font: typographyFont;

  padding: 2em;
  text-align: center;
  color: rgba(#fff, 0.8);
  &.paler {
    color: #4c859b;
    line-height: 1.4em;
  }
}
