@value boxLegendWidth from '$theater/AnimationTimelinePanel/TimelinePanelContent.css';

.stickyWrapper {
  position: sticky;
  z-index: 100;
  left: 0px;
  height: 100%;
  width: boxLegendWidth;

  &:hover {
    z-index: 10000;
  }
}

.container {
  padding: 10px 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  background: #1c2227;

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    width: fit-content;
  }
}

.container:hover .legendTextHover {
  opacity: 1;
  height: 20px;
}
