.container {
  width: 100%;
  height: 24px;
  padding: 3px 0 1px 0;
}

.plusSign {
  display: inline-block;
  width: 16px;
  line-height: 16px;
  text-align: center;
}

.nodePlaceholder {
  display: inline-block;
  width: calc(100% - 16px);
  height: 100%;
  border-radius: 2px;
  background: cyan;
}