.container {
  width: 100%;
  padding: 0;
  height: 12px;
  cursor: pointer;
  margin-top: 3px;
  border-radius: 2px;
  --color: calc(var(--depth) * 20 + 45);

  &.expanded {
    height: 30px;
  }
}

.container:hover > .plusSign {
  color: #FFF;
  transform: scale(1.1);
}

.plusSign {
  display: inline-block;
  text-align: center;
  width: 16px;
  font-size: 14px;
  line-height: 12px;
  font-weight: 400;
  vertical-align: top;
  border-radius: 2px;
  color: #DDD;
  transition: transform .15s ease-in-out;
}

.expanded .nodePlaceholder {
  transform: scale(1);
  left: 16px;
}

.nodePlaceholder {
  height: 100%;
  position: relative;
  display: inline-block;
  width: calc(100% - 17px);
  transform: scaleY(0.1);
  transition: transform .25s cubic-bezier(0.175, 0.885, 0.32, 1.375);
  border-radius: 2px;
  background: rgb(var(--color), var(--color), var(--color));
}