@value nodeHeight from './NodeContainer.css';
@value indent: 18px;

.container {
  position: relative;
  left: indent;
  width: calc(100% - 2 * indent);
  height: nodeHeight;
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
  
  opacity: 1;
  transition: opacity .15s ease-in-out;
  
  // display: grid;
  // grid-template-columns: auto 1fr;
  // grid-column-gap: 5px;
  // align-items: end;

  &.isContentHidden {
    opacity: 0;
  }
}

.displayName {
  cursor: pointer;
  // grid-column: 1;
}

.className {
  position: relative;
  // grid-column: 2;
  display: inline-block;
}

.input {
  color: rgba(255, 255, 255, .6);
  font-style: italic;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .15s ease-in-out;
  pointer-events: auto;

  &:focus {
    border-bottom-color: rgba(255, 255, 255, .3);
  }
  
  &.isDisabled {
    pointer-events: none;
  }
}

.tagOpen, .tagClose {
  color: #4f5d77;

  &.isSelected {
    color: #9fafcc;
  }
}

.tagClose {
  position: relative;
  left: -1px;
}

.tagName {
  color: #d8d8d8;
}

.dot {
  color: #dadada;
}

.className {
  color: white;
}

/* .className {
  color: #65eeff;
  font-weight: 500;
} */
