.container {
  z-index: 1;
  position: relative;
  width: 100%;
  --indent: calc(var(--depth) * 8px);
  
  &.normal, &.text {
    height: 91px;
  }

  &.root {
    height: 41px;
  }
}

.menu {
  position: absolute 5px 8px 5px calc(var(--indent) + 8px);
  background: white;
  color: #999;
  border-radius: 2px;
  padding: 3px;
  box-sizing: border-box;
}

.pad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.buttonLeftRight {
  flex-grow: 0.33333;
  border: 1px solid #999;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upDownContainer {
  flex-grow: 0.33333;
}

.buttonUpDown {
  width: 100%;
  border: 1px solid #999;
  text-align: center;
}

.button {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  border: 1px solid #999;
  white-space: nowrap;
}

.root .button, .text .button{
  width: 100%;
}
