.container {
  margin: 0;
  padding: 0;
}

.treeWrapper {
  position: relative;
  width: 100%;
  height: 30%;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.treeContainer {
  position: relative;
  padding-bottom: 30px;

  &.isDragging {
    padding-bottom: 100%;
  }
}
