.treeWrapper {
  position: relative;
  width: calc(100% - 2px);
  left: 1px;
  overflow: hidden auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.treeContainer {
  position: relative;
  padding-bottom: 30px;
}

.scroller {
  position: relative;
  width: 100%;
  height: 10px;
  z-index: 100;
  margin-bottom: -10px;
}
