.container {
  margin: 0;
  padding: 0;
}

.treeWrapper {
  position: relative;
  width: 100%;
  height: 25%;
  overflow-y: auto;
  overflow-x: hidden;
}

.treeContainer {
  position: relative;
  padding-bottom: 30px;

  &.inFront {
    padding-bottom: 100%;
  }
}

.noScroll {
  overflow: hidden;
}
