@value nodeHeight from './NodeContainer.css';

.container {
  position: absolute;
  z-index: 100000;
  width: calc(100% - var(--depth) * 17px);
  left: calc(var(--depth) * 16px + 1px);
  pointer-events: none;
  
  overflow: hidden;
  animation: containerCollapse .25s ease-out forwards;
}


@keyframes containerCollapse {
  0% {max-height: var(--height); opacity: 1}
  80% {opacity: 1}
  100% {max-height: nodeHeight; opacity: .9}
}
