@value nodeHeight from './NodeContainer.css';

.staticContainer {
  position: absolute;
  z-index: 1000;
  height: nodeHeight;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 2px;
  
  &.isGlued {
    pointer-events: auto;
  }
}

.dynamicContainer {
  position: absolute;
  height: 100%;
  width: calc(100% - var(--depth) * 17px - 2px);
  left: calc(var(--depth) * 16px + 1px);
  --color: calc(var(--depth) * 20 + 45);
  background-color: rgb(var(--color), var(--color), var(--color));
  border-radius: 2px;
  transition: all ease-in-out .2s;

  &:after {
    display: block;
    content: ' ';
    position: absolute 0 0 0 0;
    border-radius: 2px;
    opacity: 0;
    --shadow: calc(var(--depth) * 20 + 10);
    box-shadow: 0 0 20px 5px rgb(var(--shadow), var(--shadow), var(--shadow));
    transition: box-shadow ease-in-out .2s;
    animation: popout .5s ease-in-out forwards;
  }
}

@keyframes popout {
  from {opacity: 0;}
  to {opacity: 1;}
}
