@value indent from './RenderTreeNode.css';

.container {
  position: relative;
  left: indent;
  /*padding-left: indent;*/
  width: calc(100% - 2 * indent);
  height: 27px;
  display: flex;
  align-items: flex-end;
  font-weight: 400;
  /*color: #eee;*/
}

.content {
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.changeable {
  &:active {
    transform: scale(.95);
  }

  &.isHidden {
    opacity: 0;
    transform: scale(.95);
  }
}

.container > input {
  width: calc(100% - indent);
  display: flex;
  align-self: center;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.modalWrapper {
  position: fixed 0 0 0 0;
  z-index: 10000;
  
  pointer-events: none;

  &.isVisible {
    pointer-events: auto;
  }
}

.tagSelector {
  background: #EEE;
  color: #000;
  position: absolute;
  margin-top: indent;
  height: 90px;
  border-radius: 2px;
  padding: 4px;
  box-sizing: border-box;

  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  opacity: 0;
  transform: translateY(2px);

  box-shadow: 0 0 200px 3px #333;

  &.isVisible {
    opacity: 1;
    transform: translateY(0);
  }
}

.tagInput {
  width: 100%;
  height: 20px;
}

.tagInput > input {
  color: #333;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #333;
  opacity: .2;
  cursor: not-allowed;
}

.tagsList {
  margin-top: 5px;
  height: calc(100% - 25px);
  overflow: auto;
  /*padding: indent;*/
  /*box-sizing: border-box;*/
}

.tagBlock {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  /*background: red;*/
  /*margin: 2px;*/
  padding: 1px 6px;
  text-align: center;
  color: white;
  transition: transform .15s;

  &:active {
    transform: translateY(1px);
  }

  &:before {
    border-radius: 2px;
    position: absolute 1px;
    background: #3EA2C8;
    display: block;
    content: ' ';
    z-index: -1;
  }
}

.contextMenu {
  background: #EEE;
  color: #000;
  position: absolute;
  margin-top: indent;
  height: 70px;
  border-radius: 2px;
  padding: 4px;
  box-sizing: border-box;

  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  opacity: 0;
  transform: translateY(2px);

  box-shadow: 0 0 200px 3px #333;

  &.isVisible {
    opacity: 1;
    transform: translateY(0);
  }
}

.contextMenuItem {
  height: 20px;
  cursor: pointer;
  opacity: .8;

  transition: transform .2s, opacity .2s;
  
  &.disabled {
    opacity: .2;
    cursor: not-allowed;
  }

  &:not(.disabled):hover {
    transform: translateY(-1px);
    opacity: 1;
  }
  
  /*&:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }*/
}

.menuSeparator {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, .1);
}
