@value nodeHeight: 30px;
@value nodeMargin: 2px;

.container {
  display: grid;
  grid-template-columns: 16px 1fr 1px;
  // grid-tempalte-row: nodeHeight;
  position: relative;
  margin-bottom: nodeMargin;
  /* border-radius: 2px; */
  overflow: hidden;
  // --color: calc(var(--depth) * 20 + 45);
  // background-color: rgb(var(--color), var(--color), var(--color));
  top: 0;
  // opacity: 0;
  /* will-change: max-height, transform; */

  &.expand {
    opacity: 0;
    height: nodeHeight;
    animation: expand .15s ease-in-out forwards;
    z-index: 1000;
  }

  &.isRelocated {
    --shadow: calc(var(--depth) * 20 + 10);
    z-index: 1000;
    animation: drop .3s ease-in-out forwards;
  }

  &.isCollapsed {
    animation: collapse .3s ease-in-out forwards;
  }
}

@keyframes collapse {
  from {max-height: var(--maxHeight);}
  to {max-height: 0; margin-bottom: 0;}
}

@keyframes expand {
  // from {transform: scaleY(0.1);}
  // to {transform: scaleY(1);}
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes drop {
  from {
    top: var(--initialTopOffset);
    max-height: nodeHeight;
    box-shadow: 0 0 20px 5px rgb(var(--shadow), var(--shadow), var(--shadow));
  }
  to {
    top: 0;
    max-height: var(--maxHeight);
    box-shadow: none;
  }
}

.root {
  grid-column: 1 / span 2;
}

.hoverSensor {
  grid-column: 1;
}

.child {
  grid-column: 2;
}
