@value nodeHeight: 27px;
@value nodeMargin: 0;
@value hoverBarColor: #3CDFFF;
@value indent: 8px;
@value sensorWidth: 16px;

.container {
  position: relative;
  overflow: hidden;
  --color: rgb(
    calc(39 - var(--depth) * 4 - 4),
    calc(50 - var(--depth) * 4 - 4),
    calc(56 - var(--depth) * 4 - 4)
  );
  --highlightColor: rgba(60, 223, 255, .1);

  &:hover {
    background: var(--color);
  }

  &.isCommandDown {
    cursor: cell;
  }

  &.expand {
    // opacity: 0;
    // max-height: nodeHeight;
    // height: nodeHeight;
    // visibility: hidden;
    // will-change: max-height;
    // transform-origin: 0 0;
    max-height: 0;
    animation: expand .25s ease-out forwards;
    // z-index: 1000;
  }

  &.isRelocated {
    --shadow: calc(var(--depth) * 20 + 10);
    z-index: 1000;
    animation: drop .3s ease-in-out forwards;
  }

  &.isCollapsed {
    animation: collapse .3s ease-in-out forwards;
  }
}

@keyframes collapse {
  from {max-height: var(--maxHeight);}
  to {max-height: 0; margin-bottom: 0;}
}

@keyframes expand {
  // from {transform: scaleY(0.1);}
  // to {transform: scaleY(1);}
  from {max-height: 0;}
  to {max-height: nodeHeight;}
}

@keyframes drop {
  from {
    top: var(--initialTopOffset);
    max-height: nodeHeight;
    box-shadow: 0 0 20px 5px rgb(var(--shadow), var(--shadow), var(--shadow));
  }
  to {
    top: 0;
    max-height: var(--maxHeight);
    box-shadow: none;
  }
}

.root {
  position: relative;
  height: nodeHeight;
  width: 100%;

  &.isCommandDown {
    &:hover {
      &:after {
        display: block;
        position: absolute;
        content: ' ';
        height: 2px;
        bottom: 0;
        left: calc(sensorWidth + indent);
        right: 0;
        background-color: hoverBarColor;
      }
    }
  }
}

.container.isSelected > .root {
  background: #0e1315;
}

.container.isCommandDown:hover > .root.isCommandDown {
  background: var(--highlightColor);
}

.childContainer {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: sensorWidth 1fr;
  grid-gap: 0;
  grid-template-rows: 1fr nodeMargin;
}

.hoverSensorLeft {
  position: relative;
  grid-column: 1;
  grid-row: 1 / span 2;

  &.isCommandDown {
    &:hover{
      & ~ .hoverSensorBottom {
        &:after {
          display: block;
          position: absolute;
          content: ' ';
          height: 2px;
          top: -2px;
          left: indent;
          right: 0;
          background-color: hoverBarColor;
        }
      }
    }
  }
}

.hoverSensorBottom {
  position: relative;
  grid-column: 2;
  grid-row: 2;

  &.isCommandDown {
    &:hover {
      &:after {
        display: block;
        position: absolute;
        content: ' ';
        height: 2px;
        // top: 1px;
        top: -2px;
        left: indent;
        right: 0;
        background-color: hoverBarColor;
      }
    }
  }
}

.child {
  grid-column: 2;
  grid-row: 1;
}
