@value nodePadding from './NodeContainer.css';
@value nodeHeight from './NodeContainer.css';
@value nodeIndent from './NodeContainer.css';

.container {
  --color: rgb(
    calc(39 - var(--depth) * 4 - 4),
    calc(50 - var(--depth) * 4 - 4),
    calc(56 - var(--depth) * 4 - 4)
  );
  background: var(--color);
}

.root {
  padding: 0 nodePadding;
  box-sizing: border-box;
  height: nodeHeight;
  line-height: nodeHeight;
  width: 100%;
}

.container.isDragHandle > .root {
  background: rgb(46, 166, 190);
}

.childContainer {
  position: relative;
  width: calc(100% - nodeIndent);
  left: nodeIndent;
}

.componentNode {
  position: relative;
  height: nodeHeihgt;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  box-sizing: border-box;
}

.tagOpen, .tagClose {
  color: #4f5d77;
}

.displayName > input {
  pointer-events: none;
  color: rgb(216, 216, 216);
}

.dot {
  color: rgb(218, 218, 218);
}

.container.isDragHandle > .root > .componentNode > .displayName > input,
.container.isDragHandle > .root > .componentNode > .dot
{
  color: #EEE;
}

.className > input {
  font-style: italic;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.6);
}

.container.isDragHandle > .root > .componentNode > .className > input {
  color: #DDD;
}


.tagClose {
  position: relative;
  left: -1px;
}

.textNode {
  display: flex;
  position: relative;
  height: nodeHeight;
  align-items: center;
}

.textLogo {
  composes: textLogo from './TextNode.css';
}

.textInput {
  overflow: hidden;
  flex-grow: 1;
  height: 100%;
  font-weight: 400;
  white-space: nowrap;
}
