@value gap: 3px;
@value indent: 8px;

.container {
  position: relative;
  left: 1px;
  width: calc(100% - 2px);

  --color: calc(var(--depth) * 20 + 45);
  background: rgb(var(--color), var(--color), var(--color));
  border-radius: 2px;
  overflow: hidden;
  
  &.notRoot {
    left: 16px;
    width: calc(100% - 17px);
  }
  
  margin-bottom: gap;
  padding-bottom: 1px;
  max-height: auto;

  &.collapsed {
    transition: all .5s ease-in-out, opacity 0s;
    max-height: 0 !important;
    padding: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
  }

  &.isExpanding {
    animation: expand .3s;
    animation-timing-function: ease-in-out;
  }
}

.container:not(.notRoot) > .childContainer:last-child {
  padding-bottom: 30px;
}

@keyframes expand {
  from {max-height: 26px;}
  to {max-height: var(--maxHeight);}
}

.contentContainer {
  position: relative;
}

.content {
  position: relative;
  /*left: indent;
  width: calc(100% - indent);*/
  /*height: 27px;
  display: flex;
  align-items: flex-end;
  font-weight: 400;
  color: #eee;*/

  /*animation: appear .1s;*/
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.childContainer {
  width: 100%;
}
