@value indent from './ComponentNode.css';

.container {
  position: relative;
  padding: 0 indent;
  height: 27px;
  display: flex;
  align-items: flex-end;

  opacity: 1;
  transition: opacity .15s ease-in-out;

  &.isContentHidden {
    opacity: 0;
  }

  &:after {
    display: block;
    content: ' ';
    position: absolute * indent 3px indent;
    height: 1px;
    background-color: rgba(255, 255, 255, .4);
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: transform .15s ease-in-out;
  }

  &.isFocused:after {
    transform: scaleX(1);
  }
}

.textLogo {
  flex-shrink: 0;
  position: relative;
  align-self: center;
  width: 14px;
  height: 14px;
  margin-right: calc(indent / 2);
  border-radius: 2px;
  background-color: #333;
  line-height: 16px;
  text-align: center;
}

.text {
  overflow: hidden;
  flex-grow: 1;
  height: 100%;
  font-weight: 400;
  white-space: nowrap;
}
