.dropzone {
  position: relative;
  width: 200px;
  height: 200px;
  background: #666;
}

.activeDropzone {
  composes: dropzone;
  &:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }
}