.container {
  padding: 20px;
}

.title {
  opacity: .3;
  font-weight: 100;
}

.dropzone {
  position: relative;
  width: 300px;
  min-height: 200px;
  max-height: 400px;
  background: #333;
  padding: 10px;
  overflow: scroll;
}

.activeDropzone {
  composes: dropzone;
  &:before {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
  }
}