.container {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  display: inline-block;
}

.forgetButton {
  cursor: pointer;
  opacity: .2;
  float: right;

  &:hover {
    text-decoration: underline;
    opacity: .6;
  }
}
