#asker
  position: fixed
  bottom: 0px
  left: 0
  height: 42px

  z-index: 12

  background: #040404

  @include transition(0.3s all)
  @include transform(translate3d(0, 42px, 0px))

  &.visible
    @include transform(translate3d(0, 0px, 1px))

  color: white

  font-size: 12px
  line-height: 43px
  padding-left: 10px

#asker-question
  display: inline-block

#asker-input
  display: inline-block
  background: transparent
  border: none

  border-bottom: 1px solid #333
  color: white
  width: 120px
  margin-left: 10px

  @include transition(all 0.2s)

  &.invalid
    border-bottom-color: red