@mixin button ($src)

	width: 36px
	height: 100%

	float: left

	background: url($src) no-repeat center center

	opacity: .75

	-webkit-transform: translateZ(1px)

	-webkit-transition: opacity .15s

	&:hover

		opacity: 1

.timeflow-controls

	position: absolute

	bottom: 420px
	left: 10px

	// width: 150px
	height: 30px

	border-radius: 5px

	background: #090909




// &.toggle

// 	@include button ("../../images/8.png")

// &.prev

// 	@include button ("../../images/prev.png")

.timeflow-controls-playPause

	@include button ("../../images/play.png")

	&.playing

		background: url("../../images/pause.png") no-repeat center center

.timeflow-controls-fullscreen

	@include button ("../../images/fullscreen.png")

.timeflow-controls-jumpToPrevMarker

	@include button ("../../images/prevMarker.png")

.timeflow-controls-jumpToNextMarker

	@include button ("../../images/nextMarker.png")