.theatrejs-graph

	position: absolute

	background: #050505

	height: 90vh

	left: 35px
	right: 35px
	bottom: 55px

	z-index: -20

	padding: 80px 85px 80px 95px

	overflow: hidden

	transition: 0.3s transform, 0.3s opacity
	-webkit-transition: 0.3s -webkit-transform, 0.3s opacity

	@include transform(translate3d(-20px, 0px, -1000px))

	opacity: 0
	pointer-events: none

	&.visible

		z-index: 13

		@include transform(translate3d(0, 0, 0))
		opacity: 1
		pointer-events: auto

		.opening-animation

			@include transform-origin(0% 0%)
			@include animation(graphiItem-entrance 0.5s both)

			@for $i from 0 to 50

				&.n-#{$i}

					$delay: $i * 0.019s

					@include animation-delay($delay)

@include keyframes(graphiItem-entrance)

	0%

		opacity: 0
		@include transform(perspective(800) translate3d(0, 0, -50px))

	100%

		opacity: 1
		@include transform(perspective(1200) translate3d(0px, 0, 0))

.theatrejs-graph-group

	width: 460px
	float: left

	font-family: "AktivGrotW15-Light", Helvetica, Arial, sans-serif

	@include user-select(none)

	cursor: default

.theatrejs-graph-group-name

	color: #747779
	// opacity: .3

	font-size: 30px
	font-weight: 300

	text-transform: uppercase

.theatrejs-graph-group-actor-list

	list-style: none
	padding: 0 0px 0 3px

	margin-bottom: 36px

.theatrejs-graph-group-actor

	position: relative


	> a

		line-height: 36px
		font-size: 24px

		color: #d5d5d5

		transition: 0.3s all

		display: inline-block
		height: 36px

		&:hover

			color: #fefefe

	&:hover .theatrejs-graph-group-actor-propsList

		opacity: 1

		@include transform(translate3d(0, 0, 1px))

		pointer-events: all

.theatrejs-graph-group-actor-propsList

	opacity: 0

	position: absolute
	left: 90px
	top: 0

	min-width: 180px
	max-height: 300px

	background: rgba(0, 0, 0, 0.9)
	color: white

	transition: 0.2s all

	z-index: 500

	font-size: 16px

	@include transform(translate3d(-5px, 0, 1px))

	padding: 0

	pointer-events: none

	> li

		padding: 10px 20px

		border-bottom: 1px solid #0C0A0A

		color: #555
		cursor: pointer

		&:hover

			transition: 0.1s all

		transition: 0.6s all

		&.available

			color: #eee

			&:hover

				color: #fff

				background: rgba(255, 255, 255, 0.08) !important

		&:last-child

			border-bottom-color: transparent