.theatrejs-graph

	position: absolute

	background: #050505

	height: 90vh

	left: 35px
	right: 35px
	bottom: 55px

	z-index: -20

	padding: 40px 60px

	overflow: hidden

	-webkit-transition: 0.3s -webkit-transform, 0.3s opacity
	transition: 0.3s transform, 0.3s opacity

	@include transform(translate3d(-20px, 0px, -1000px))
	@include transform-style(flat)

	opacity: 0
	pointer-events: none

	display: flex
	flex-direction: column
	flex-wrap: wrap
	justify-content: flex-start
	align-content: flex-start

	&.visible

		z-index: 13

		@include transform(translate3d(0, 0, 0))
		opacity: 1
		pointer-events: auto

.theatrejs-graph-group-name

	color: #747779

	font-size: 24px
	font-weight: 300

	text-transform: uppercase

	width: 210px

	font-family: "AktivGrotW15-Light", Helvetica, Arial, sans-serif

	@include user-select(none)

	cursor: default

	margin: 0
	margin-right: 20px

.theatrejs-graph-group-actor

	position: relative
	width: 210px
	margin: 0
	margin-right: 20px

	&.last

		margin-bottom: 30px

	> a

		line-height: 36px
		font-size: 20px

		color: #d5d5d5

		transition: 0.3s all

		display: inline-block
		height: 30px

		&:hover

			color: #fefefe

	&:hover .theatrejs-graph-group-actor-propsList

		opacity: 1

		@include transform(translate3d(0, 0, 1px))

		pointer-events: all

.theatrejs-graph-group-actor-propsList

	opacity: 0

	position: absolute
	left: 90px
	top: 0

	min-width: 180px
	max-height: 300px

	background: rgba(0, 0, 0, 0.9)
	color: white

	transition: 0.2s all

	z-index: 500

	font-size: 16px

	@include transform(translate3d(-5px, 0, 1px))

	padding: 0

	pointer-events: none

	> li

		padding: 10px 20px

		border-bottom: 1px solid #0C0A0A

		color: #555
		cursor: pointer

		&:hover

			transition: 0.1s all

		transition: 0.6s all

		&.available

			color: #eee

			&:hover

				color: #fff

				background: rgba(255, 255, 255, 0.08) !important

		&:last-child

			border-bottom-color: transparent