.timeflow-mainBox

	width: 100%
	height: 400px

	background: #111

	position: absolute
	bottom: 0

	overflow-y: visible

	-webkit-user-select: none

@import "mainBox/workspaceButtons"
@import "mainBox/workspaceList"
@import "mainBox/seekbar"
@import "mainBox/timeline"