.theatrejs-mainBox

	width: 100%
	height: 400px

	background: #111

	position: absolute
	bottom: 0

	overflow-y: visible

	@include user-select(none)

	.badFirefoxScrollbar &:after

		content: "\0020"
		display: block
		position: absolute
		right: 0
		bottom: 0
		top: 0
		width: 15px

		z-index: 20

.theatrejs-mainBox-resizeHandle

	position: absolute

	z-index: 1000

	left: 0
	top: -10px

	width: 40px
	height: 10px

	&:hover

		cursor: ns-resize

@import "mainBox/workspaceButtons"
@import "mainBox/workspaceList"
@import "mainBox/seekbar"
@import "mainBox/timelineEditor"