.objectList

	position: absolute

	background: #000a10

	left: 35px
	right: 35px
	top: 55px
	bottom: 55px

	z-index: 2

	padding: 80px 85px 80px 95px

	overflow: hidden

	.object

		font-family: AktivGrot

		h3

			color: #fefefe
			opacity: .3

			font-size: 30px
			font-weight: 300

			-webkit-margin-after: 0px
			-webkit-margin-before: 0px

		ul

			list-style: none
			padding: 0 0px 0 3px

			-webkit-margin-after: 0px
			-webkit-margin-before: 0px

			li

				color: #747779

				font-size: 18px

				&.on

					color: #fefefe
