.strip
  position: absolute
  bottom: 394px
  right: 0
  width: 87%
  height: 6px

  background: url('../../images/strip-values.png') repeat-x

  .marker
    width: 0
    height: 0
    position: absolute

    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-bottom: 6px solid rgba(0, 200, 0 , .5)

  .focus
    position: absolute
    width: 6px
    height: 10px
    top: -2px

    &.left
      left: 100px
      background: url('../../images/focus-left.png')

    &.right
      left: 300px
      background: url('../../images/focus-right.png')

  .seeker
    position: absolute
    left: 500px
    top: -5px
    width: 11px
    height: 15px

    background: url('../../images/marker.png')

    &:after
      content: "\0020"
      display: block

      position: absolute
      top: 15px
      left: 5px
      width: 1px
      height: 500px

      background: #333