.timeflow-structure

	position: absolute

	background: #000a10

	left: 35px
	right: 35px
	top: 55px
	bottom: 55px

	z-index: 2

	padding: 80px 85px 80px 95px

	overflow: hidden

.timeflow-structure-category

	width: 460px
	float: left

	font-family: "AktivGrotW15-Light", Helvetica, Arial, sans-serif

	-webkit-user-select: none
	user-select: none

	cursor: default

.timeflow-structure-category-name

	color: #747779
	// opacity: .3

	font-size: 30px
	font-weight: 300

	text-transform: uppercase

	-webkit-margin-after: 0px
	-webkit-margin-before: 0px

.timeflow-structure-category-actor-list

	list-style: none
	padding: 0 0px 0 3px

	-webkit-margin-after: 0px
	-webkit-margin-before: 0px

	line-height: 36px
	font-size: 24px

	margin-bottom: 36px

.timeflow-structure-category-actor

	color: #d5d5d5

	// &:hover

	// 	color: lighten(#747779, 10)

	// &.on

	// 	color: #fefefe
