.timeflow-structure

	position: absolute

	background: #000a10

	left: 35px
	right: 35px
	top: 55px
	bottom: 55px

	z-index: 2

	padding: 80px 85px 80px 95px

	overflow: hidden


	-webkit-transform: translate3d(-5000px, 0, 1px)
	opacity: 0

	&.visible

		-webkit-transform: translate3d(0, 0, 1px)
		opacity: 1

.timeflow-structure-category

	width: 460px
	float: left

	font-family: "AktivGrotW15-Light", Helvetica, Arial, sans-serif

	-webkit-user-select: none
	user-select: none

	cursor: default

.timeflow-structure-category-name

	color: #747779
	// opacity: .3

	font-size: 30px
	font-weight: 300

	text-transform: uppercase

	-webkit-margin-after: 0px
	-webkit-margin-before: 0px

.timeflow-structure-category-actor-list

	list-style: none
	padding: 0 0px 0 3px

	-webkit-margin-after: 0px
	-webkit-margin-before: 0px

	margin-bottom: 36px

.timeflow-structure-category-actor

	> a

		position: relative

		line-height: 36px
		font-size: 24px

		color: #d5d5d5

		transition: 0.3s all

		display: inline-block
		height: 36px

		&:hover

			color: #fefefe

		.timeflow-structure-category-actor-propsList

			opacity: 0

			position: absolute

			min-width: 180px
			max-height: 300px

			background: rgba(0, 0, 0, 0.9)
			color: white

			top: 0
			right: -180px

			transition: 0.2s all

			z-index: 500

			font-size: 16px

			-webkit-transform: translate3d(-5px, 0, 1px)

			padding: 0


			> li

				padding: 0 20px

				border-bottom: 1px solid #101010

				color: #555
				cursor: pointer

				&:hover

					transition: 0.1s all

				transition: 0.6s all

				&.available

					color: #eee

					&:hover

						color: #fff

						background: rgba(255, 255, 255, 0.08) !important

				&:last-child

					border-bottom-color: transparent

				&:nth-child(even)

					background: rgba(255, 255, 255, 0.025)

		&:hover, &.active

			.timeflow-structure-category-actor-propsList,

				opacity: 1

				-webkit-transform: translate3d(0, 0, 1px)
