.timeflow-timeline

	width: 100%
	height: 400px

	background: #111

	position: absolute
	bottom: 0

	overflow-y: visible

@import "timeline/workspaceButtons"
@import "timeline/workspaceList"
@import "timeline/seekbar"