@value fontd from '../../../AllInOnePanel.css';

.container {
  position: absolute;
  font: fontd;
  box-sizing: border-box;
  transform: translate3d(-50%, calc(-100% - 11px), 0);

  &:after {
    display: block;
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    left: 71px;
    bottom: -6px;
    border-top: 6px solid var(--colors-set-52);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    pointer-events: none;
  }
}

.innerWrapper {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  z-index: -1;
  background: var(--colors-set-53);
  border: 0.5px solid var(--colors-set-52);
  overflow: hidden;
}

.row {
  height: 30px;
  position: relative;
  border-bottom: 1px solid var(--colors-set-52)26;
  &:last-child {
    border-bottom: none;
  }
}

.label {
  position: absolute;
  left: 11px;
  top: 7px;
  width: 31px;
  text-align: right;
  display: block;
  color: var(--colors-set-55);
  /* color: var(--colors-set-42); */
  pointer-events: none;
}

.input {
  padding-left: 50px;
  padding-right: 14px;
  font-family: inherit;
  width: 150px;
  height: 100%;
  display: inline-block;
  line-height: 100%;
  color: var(--colors-set-56);
  &:focus {
    background: var(--colors-set-57);
    color: white;
  }
  text-align: left;
  outline: none;
  border: none;
  background: none;
  box-sizing: border-box;
}

.inputInvalid {
  /* background: red !important; */
  color: red !important;
}

.input:focus ~ .label {
  /* color: var(--colors-set-42) !important; */
}

.inputInvalid ~ .label {
  color: red !important;
}