@value fontd from '../../../AllInOnePanel.css';

.container {
  position: absolute;
  font: fontd;
  box-sizing: border-box;
  transform: translate3d(-50%, calc(-100% - 11px), 0);

  &:after {
    display: block;
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    left: 72px;
    bottom: -6px;
    border-top: 6px solid #3baea7;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    pointer-events: none;
  }
}

.innerWrapper {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  z-index: -1;
  background: #282e31;
  border: 0.5px solid #3baea7;
  overflow: hidden;
}

.row {
  height: 30px;
  position: relative;
  border-bottom: 1px solid #3baea726;
  &:last-child {
    border-bottom: none;
  }
}

.label {
  position: absolute;
  left: 11px;
  top: 7px;
  width: 31px;
  text-align: right;
  display: block;
  color: #627179;
  /* color: #8ea2ad; */
  pointer-events: none;
}

.input {
  text-indent: 50px;
  font-family: inherit;
  width: 150px;
  height: 100%;
  display: inline-block;
  line-height: 100%;
  color: #45787b;
  &:focus {
    background: #171b1e;
    color: white;
  }
  text-align: left;
  outline: none;
  border: none;
  background: none;
  box-sizing: border-box;
}

.input:focus ~ .label {
  color: #8ea2ad !important;
}