.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 5px;
  cursor: default;
  /* background: var(--colors-set-9); */
  z-index: 1;
  pointer-events: auto;

  &:before {
    display: block;
    content: ' ';
    position: absolute 0;
    background: var(--colors-set-27);
    opacity: 0.2;
  }

  &:hover {
    &:after {
      /* opacity: 0.4; */
    }
    &:before {
      opacity: 0.4;
    }
  }

  &:after {
    display: block;
    content: ' ';
    position: absolute 0 0 -3px 0;
    /* background: var(--colors-set-27); */
    opacity: 0;
  }

  &.shiftIsDown {
    cursor: ew-resize;
  }

  &.dragging {
    &:before {
      /* opacity: 0.7; */
    }
    &:after {
      opacity: 0;
    }
  }
}
