@value menuBg, listPadding, focusedItemBg from '../DataListView/DataListView.css';

.positioner {
  position: relative;
  width: 0;
  height: 0;
}

.container {
  position: absolute;
  width: auto;
  bottom: 0;
  background: menuBg;
  min-width: 150px;
}

.inputWrapper {
  padding: listPadding;
}

.input {
  border: none;
  outline: none;
  background: none;
  height: 25px;
  font-size: 14px;
  color: #eee;

  border-bottom: 1px solid focusedItemBg;
}
