@value svgPaddingY from '../views/SVGWrapper.css';

.container {
  height: calc(100% + svgPaddingY);
  pointer-events: none;

  &.fullHeight {
    height: 100%;
  }

  &.enabled {
    pointer-events: auto;
  }
}

.blueCursor {
  cursor: url('url-loader!./cursors/AddCursorBlue.svg'), auto;
  border: 1px solid blue;
}
.redCursor {
  cursor: url('url-loader!./cursors/AddCursorRed.svg'), auto;
}
.purpleCursor {
  cursor: url('url-loader!./cursors/AddCursorPurple.svg'), auto;
}
.yellowCursor {
  cursor: url('url-loader!./cursors/AddCursorYellow.svg'), auto;
}
