@value panelBgColor from '$tl/ui/panels/AllInOnePanel/AllInOnePanel.css';

.container {
  position: absolute;
  width: 100%;

  &:before {
    position: absolute 0;
    display: block;
    content: ' ';
    background: panelBgColor;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
  }

  &:after {
    position: absolute;
    display: block;
    content: ' ';
    top: 1px;
    bottom: 1px;
    width: 100%;
    border-top: 1px solid panelBgColor;
    border-bottom: 1px solid panelBgColor;
    opacity: 1;
    pointer-events: none;
  }
}

.resizeHandle {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -2px;
  z-index: 1;
  cursor: row-resize;
}
