.container {
  position: absolute;
  width: 100%;

  &.sticky {
    width: var(--right-width);
    left: 0;
    position: sticky;
  }

  &:before {
    position: absolute 0;
    display: block;
    content: ' ';
    background: transparent;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
  }

  &:after {
    position: absolute;
    display: block;
    content: ' ';
    top: 0px;
    bottom: -1px;
    width: 100%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    opacity: 1;
    pointer-events: none;
  }

  &.bezierCurves {
    &:before {
      background: var(--colors-panel-bg);
    }
    &:after {
      border-color: var(--colors-panel-bg);
    }
  }

  &.static {
    &:before {
      background: var(--colors-set-48);
    }
    &:after {
      border-color: var(--colors-set-49);
    }
  }
}

.resizeHandle {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -2px;
  z-index: 1;
  cursor: row-resize;
}
