.container {
  position: relative;
  height: 36px;
}

.label {
  position: absolute;
  top: 0px;
  left: 0;

  text-transform: uppercase;
  font-weight: 600;
  /*font-family: 'Fira Sans';*/
  font-size: 10px;
  color: #7da5af;
}

.input {
  position: relative;
  top: 21px;
  color: white;
  font-family: "Fira Mono", monospace;
}