.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: scroll;
  overflow-y: visible;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.scrollingContainer {
  position: relative;
  left: 0;
  top: 0;
  height: auto;
  min-height: 100%;

  &:before {
    display: block;
    position: absolute 0;
    content: ' ';
    z-index: -1;
    background: #1b2226;
  }
}
