@value boxLegendWidth from '$theater/AnimationTimelinePanel/TimelinePanelContent.css';

.container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #1b2226;
}

.canvas {
  position: relative;
  left: boxLegendWidth;
  height: 100%;
}

.stamps {
  position: absolute;
  top: 5px;
  left: boxLegendWidth;
  height: 20px;
  overflow: hidden;
}
