@value boxLegendWidth: 30px;

.panelContainer {
}

.panelContent {
  overflow-y: visible;
}

.wrapper {
  position: relative;
  height: 100%;
  left: 0;
  overflow: scroll;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.scrollingContainer {
  position: relative;
  height: auto;
  min-height: 100%;
}
