.container {
  position: fixed;
  z-index: 1000;
  --border-width: 2px;
  --border: var(--border-width) solid rgba(#11a4d6, .7);
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: calc(-1 * var(--border-width));
    top: calc(-1 * var(--top));
    width: 100%;
    height: 100vh;
    border-left: var(--border);
    border-right: var(--border);
  }
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--left));
    width: 100vw;
    height: 100%;
    border-top: var(--border);
    border-bottom: var(--border);
  }
}
