@value minBoxHeight: 27px;
@value sensorHeight: 10px;

.container {
  position: relative;
  width: calc(100% - 16px);
  left: 8px;
  box-sizing: border-box;
  color: #bbb;
  font-size: 11px;
}

.isBeingDragged {
  box-shadow: 0 0 0 2px #3cdfff;
  z-index: 10000;
  opacity: 0.8;
  pointer-events: none;
}

.appear {
  background-color: #0e1315;
  animation: containerAppear 0.2s ease-in-out forwards;
  & + div {
    animation: sensorAppear 0.2s ease-in-out forwards;
  }
}

.collapse {
  overflow: hidden;
  animation: containerCollapse 0.2s ease-out forwards;
  & + div {
    height: 0;
  }
}

.initialize {
  overflow: hidden;
  animation: containerInitialize 0.2s ease-in-out forwards;
}

.move {
  animation: containerMove 0.25s ease-in-out forwards;
}

@keyframes containerAppear {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: minBoxHeight;
  }
}

@keyframes sensorAppear {
  from {
    height: 0;
  }
  to {
    height: sensorHeight;
  }
}

@keyframes containerInitialize {
  from {
    opacity: 0;
    height: minBoxHeight;
  }
  to {
    opacity: 1;
    height: var(--height);
  }
}

@keyframes containerCollapse {
  from {
    height: var(--height);
  }
  to {
    height: 0;
  }
}

@keyframes containerMove {
  from {
    transform: translate3d(var(--fromX), var(--fromY), 0);
  }
  to {
    transform: translate3d(0, var(--toY), 0);
  }
}
