@value minBoxHeight from './ModifierBox.css';
@value sensorHeight: 10px;

.container {
  position: relative;
  width: calc(100% - 2px);
  left: 1px;
  height: sensorHeight;
  z-index: 100;
  --hitZoneOffset: calc(-0.3 * minBoxHeight);

  &.isCommandDown:before,
  &.isABoxBeingDragged:before {
    display: block;
    content: ' ';
    position: absolute var(--hitZoneOffset) 0 var(--hitZoneOffset) 0;
  }

  &.isCommandDown:hover {
    &:after {
      display: block;
      position: absolute;
      content: ' ';
      height: 2px;
      width: 100%;
      top: calc(50% - 1px);
      background: #3CDFFF;
    }
    cursor: cell;
  }

  &.isABoxBeingDragged:hover {
    &:after {
      display: block;
      position: absolute;
      content: ' ';
      height: 2px;
      width: 100%;
      top: calc(50% - 1px);
      background: #3CDFFF;
    }
    cursor: alias;
  }
}
