.inputText {
  line-height: calc(var(--height) * 1px);
  font-size: 12px;
  font-weight: 300;
}

.inputContainer {
  position: absolute;
  left: var(--left);
  top: var(--top);
  width: var(--width);
  height: var(--height);
  animation: inputAppear 0.25s ease-in-out;
}

.input {
  composes: inputText;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  color: #aaa;
}

.hint {
  composes: inputText;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5px;
  color: rgba(255, 255, 255, 0.4);
  display: none;
}

.listContainer {
  position: absolute;
  background: #0e1315;
  overflow: scroll;
  padding: 5px 0;

  left: var(--left);
  top: var(--top);
  width: var(--width);
  max-height: var(--height);

  animation: listAppear 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.575);

  &:empty {
    &:after {
      display: block;
      position: relative;
      content: 'No Match Found!';
      font-size: 10px;
      height: 30px;
      line-height: 30px;
      opacity: 1;
      text-align: center;
      color: #aaa;
    }
  }
}

.option {
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  color: #aaa;
  font-weight: 300;
  font-size: 11px;

  &.isSelected {
    background-color: rgba(60, 223, 255, 0.3);
  }
}

@keyframes inputAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes listAppear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
