@import '$theater/common/styles.css';

.container {
  position: absolute;
  top: -20px;
  left: 0;
  @include typography;
  white-space: nowrap;

  color: #9c9c9c;
  font-size: 10px !important;
  font-weight: 500 !important;

  &.isActive {
    color: black;
  }
}

.nameContainer {
  position: relative;
  display: inline-block;
  min-width: 10px;

  &:before {
    display: block;
    content: ' ';
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -2px;
    background: rgba(0, 0, 0, 0.1);
  }

  &.isEnabled {
    color: white;
    &:after {
      display: block;
      content: ' ';
      position: absolute;
      z-index: -1;
      // height: 2px;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      transform-origin: 0 0;
      transform: scaleX(0);
      // background: #999;
      background: #0e1315;
      animation: nameInputEffect 0.15s ease-in-out forwards;
    }
  }
}

.name {
  font-size: 11px;
  font-weight: 400;
  margin-right: 1px;
}

.separator {
  margin: 0 1em;
}

@keyframes nameInputEffect {
  to {
    transform: scaleX(1);
  }
}
