.list {
  position: absolute;
  background: #0e1315;
  padding: 5px 0;

  top: 16px;
  left: -3px;
  width: 150px;
  overflow-x: hidden;

  opacity: 0;
  animation: listAppear .35s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.hint {
  text-align: center;
  font-weight: 300;
  line-height: 16px;
  width: 150px;
  color: rgba(255, 255, 255, .5);
}

.hint > .highlight {
  color: #FFF;
}

.item {
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  color: #aaa;
  font-weight: 300;
  font-size: 11px;

  &.highlight {
    background-color: rgba(60, 223, 255, 0.3);
  }
}

@keyframes listAppear {
  0% {opacity: 0; transform: translateY(20px)}
  100% {opacity: 1; transform: translateY(0)}
}
