.theatrejs-timelineEditor-prop-pacsContainer

	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0

	z-index: 0

	overflow: hidden

	transition: opacity 0.5s

.theatrejs-timelineEditor-prop-pacs

	position: absolute
	top: 20px
	bottom: 20px
	left: 0
	right: 0

.theatrejs-timelineEditor-prop-pacs-svgArea

	position: absolute
	top: 0
	left: 0

@import "./pacs/point"
@import "./pacs/pointHandler"
@import "./pacs/pointValueContainer"
@import "./pacs/selection"