.container {
  background: #292929;
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  
  &.highlight {
    outline: 2px solid #0AA;
    background: rgba(0, 170, 170, .4);
  }

  &.active {
    background: #0AA;
  }
}

.type {
  font-size: 14px;
  line-height: 20px;
  height: 20px;  
  text-align: center;
}

.hint {
  font-size: 12px;
  line-height: 20px;
  height: 20px;  
  text-align: center;
  color: #999;
}

.dropHint {
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}