{
  "presets": ["react", "stage-1"],
  "env": {
    "test": {
      "presets": [
        ["env", {"targets": {"node": "current"}}]
      ]
    },
    "development": {
      "presets": [
        ["env", {"targets": {"node": "current"}}]
      ]
    },
    "lb:development": {
      "presets": [
        ["env", {"targets": {"node": "current", "modules": false}}]
      ]
    },
    "lb:production": {
      "presets": [
        ["env", {"targets": {"node": "current", "modules": false}}]
      ]
    },
    "lf:development": {
      "presets": [
        ["env", {"targets": {"chrome": "56", "modules": false}}]
      ],
      "plugins": ["react-hot-loader/babel"]
    },
    "lf:production": {
      "presets": [
        ["env", {"targets": {"chrome": "56", "modules": false}}]
      ]
    }
  }
}
