.container {
}

.timeBar {
}

.lanes {
  height: 100%;
  overflow: scroll;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

.panelContainer {
  background: #000;
}

.panelInnerWrapper {
  overflow: hidden;

}

