.container {
}

.timeBar {
  height: 45px;
}

.lanes {
  display: none;
  height: calc(100% - 45px);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.panelContainer {
  background: #000;
}