.container {
  position: relative;
  height: 100%;
}

.boxLegends {
  width: 30px;
  background: #1F292E;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;

  &:hover {
    width: auto;
    z-index: 1000;
  }
}

.svgArea {
  position: absolute;
  top: 14px;
  left: 30px;
  width: calc(100% - 30px);
  overflow: hidden;
}