.wrapper{
  position: fixed 0 0 0 0;
  z-index: 9999999999;
}

.container {
  position: absolute;
  width: 50px;
  height: 30px;
  padding: 4px;
  box-sizing: border-box;
  transform: translate3d(-50%, -100%, 0);
  
  &:before {
    display: block;
    position: absolute 0 0 6px 0;
    content: ' ';
    background: #101010;
    border-radius: 10%;
    box-shadow: 0 0px 15px 1px #101010;
    z-index: -1;
  }

  &:after {
    display: block;
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    left: 21px;
    bottom: 0px;
    border-top: 6px solid #101010;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
}

.row {
  height: 20px;
  font-size: 11px;
  line-height: 20px;
  color: #888;
  &:first-child {
    margin-bottom: 2px;
  }
}

.icon {
  font-size: 7px;
  line-height: 14px;
  color: #444;
  margin-right: 2px;
  vertical-align: middle;
  display: none;
}

.input {
  // max-width: 32px;
  width: 42px;
  height: 16px;
  display: inline-block;
  font-size: 10px;
  text-align: center;
}
