.container {
  --threadHeight: 3px;
  --thumbColor: #00E0FF;
  --focusBarColor: #005B61;
}

.time {
  top: 100%;
  font-size: 10px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  color: #888;
}

.timeStart {
  composes: time;
  width: 10px;
  left: -2px;
  text-align: left;
  cursor: default;
}

.timeEnd {
  composes: time;
  width: 30px;
  /*right: -15px;*/
  right: 0;
  text-align: right;
  cursor: pointer;
}

.timeEndInput {
  composes: timeEnd;
  text-align: center;
  line-height: 18px;
  background: #111;
  border-radius: 10%;
}

.timeThread {
  position: relative;
  // bottom: 0;
  top: 0;
  left: 30px;
  // right: 0;
  width: calc(100% - 30px);
  height: var(--threadHeight);
  background: #23363D;
}

.currentTime {
  margin-left: 30px;
  background-color: var(--thumbColor);
  position: absolute;
  z-index: 1000;
  cursor: pointer;  
}

.currentTimeThumb {
  composes: currentTime;
  width: 5px;
  height: 10px;
  top: -2px;
  border-left: none;

  &:before {
    position: absolute;
    display: block;
    content: ' ';
    left: -1px;
    width: 0;
    height: 0;
    border-bottom: 2px solid #1F2B2B;
    border-left: 1px solid transparent;
  }

  &:after {
    position: absolute;
    display: block;
    content: ' ';
    right: -1px;
    width: 0;
    height: 0;
    border-bottom: 2px solid #1F2B2B;
    border-right: 1px solid transparent;
  }
}

.thumbSquinch {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 10px;
  border-top: 3px solid var(--thumbColor);
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;

  &:before {
    position: absolute;
    display: block;
    content: ' ';
    top: -4px;
    left: -2px;
    height: 8px;
    width: 2px;
    background: none;
    border-radius: 0 100% 0 0;    
    border-top: 1px solid var(--thumbColor);
    border-right: 1px solid var(--thumbColor);
  }

  &:after {
    position: absolute;
    display: block;
    content: ' ';
    top: -4px;
    right: -2px;
    height: 8px;
    width: 2px;
    background: none;
    border-radius: 100% 0 0 0;
    border-top: 1px solid var(--thumbColor);
    border-left: 1px solid var(--thumbColor);
  }
}

.currentTimeNeedle {
  composes: currentTime;
  width: 0;
  border-left: 1px solid var(--thumbColor);
  height: calc(100% - 8px);
  top: 8px;
  left: 2px;
}

.focusBar {
  position: absolute;
  height: var(--threadHeight);
  background: var(--focusBarColor);
  cursor: pointer;
  z-index: 2;

  &:hover {
    background: cyan;
  }

  &:after {
    position: absolute -8px;
    display: block;
    content: ' ';
  }
}

.focusHandle {
  position: absolute;
  height: var(--threadHeight);
  width: 8px;
  background: #0AA;
  cursor: ew-resize;
}

.leftFocusHandle {
  composes: focusHandle;
}

.rightFocusHandle {
  composes: focusHandle;
  left: -8px;
}

.timeTip {
  composes: time;
  top: -20px;
  background: #1B2226;
  padding: 0 2px;
  border-radius: 4px;
  left: 4px;
  transform: translateX(-50%);
  display: none;
}

.leftFocusHandle:hover .timeTip,
.leftFocusHandle:active .timeTip,
.rightFocusHandle:hover .timeTip,
.rightFocusHandle:active .timeTip,
.currentTimeThumb:hover .timeTip,
.currentTimeThumb:active .timeTip,
.currentTimeNeedle:hover ~ .currentTimeThumb .timeTip,
.currentTimeNeedle:active ~ .currentTimeThumb .timeTip,
.focusBar:active ~ .leftFocusHandle .timeTip,
.focusBar:active ~ .rightFocusHandle .timeTip{
  display: block;
}