.hitZone {
  position: absolute 8 0 0 0;
  z-index: 10000;
  pointer-events: auto;
  cursor: crosshair;
}

.container {
  position: absolute 0;
  z-index: 100000;
  pointer-events: none;
}

.areaOverlay {
  position: absolute 0;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: auto;

  &.movable {
    cursor: move;
  }

  &.hasTransition {
    transition: all 0.3s ease-in-out;
  }
}
