.container {
  background: #666;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  cursor: -webkit-grab;
}

.type {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
}

.ghostImage{
  composes: type;
  position: absolute;
  opacity: .8;
  background: #666;
  margin-left: -5px;
  padding: 5px;
  top: 0;
  cursor: -webkit-grabbing;
  z-index: 2;
  pointer-events: none;
}