.container {
  height: 100%;
  width: 100px;
  padding-left: 14px;
  background: #212b31;
  box-sizing: border-box;

  &.noFocus {
    cursor: ew-resize;
    user-select: none;
    font-weight: 200;

    & > .value {
      border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
      cursor: pointer;
    }
  }

  &.editingViaKeyboard {
    padding-left: 0;
    & > .input {
      width: 100%;
      text-indent: 14px;
      height: 100%;
      box-sizing: border-box;
      background: black;
      border: 1px solid cyan;
      /* border: 1px solid white; */
      outline: none;
      color: white;
      padding: 0;
      margin: 0;
      display: inline;
      line-height: inherit;
      border-radius: 0 1px 1px 0;
    }
  }
}
