
$ringSize: 10px

.theatrejs-timelineEditor-prop-pacs-point

	z-index: 10

	position: absolute
	top: 0
	left: 0

	&:after

		position: absolute
		width: $ringSize
		height: $ringSize
		top: -($ringSize / 2)
		left: -($ringSize / 2)

		content: "\0020"
		display: block

		border-radius: 50%
		border: 2px solid #38B6CD
		background: #080808

		@include box-sizing(border-box)

		@include transition(all 0.3s cubic-bezier(.07,1.15,1,1))

		@include transform(scale(0.8))

	&:hover:after, &.active:after

		border-color: #00fff0

		@include transform(scale(1))

	&:before

		position: absolute
		content: "\0020"
		display: block

		width: 30px
		height: 30px

		top: -15px
		left: -15px

	&.hint-remove:after

		border-color: red

		@include transform(scale(0.8) translateY(1px))

	&.mightConnect:after

		border-color: #62FC0B

	&.cantConnect

		cursor: not-allowed

	&.mightChangeTime

		cursor: ew-resize

	&.changingTime

		cursor: ew-resize
		opacity: 0.9

	&.mightChangeValue

		cursor: ns-resize

	cursor: move

.theatrejs-timelineEditor-prop-pacs-hypotheticalPoint

	@extend .theatrejs-timelineEditor-prop-pacs-point

	pointer-events: none

	opacity: 0.5