.theatrejs-timelineEditor-prop-selection
  top: -10px
  bottom: -10px
  position: absolute
  z-index: 12

  background: rgba(0, 227, 255, 0.1)
  border: 1px dashed transparent
  border-color: transparent rgb(0, 161, 184)

  overflow: visible

  &.empty
    opacity: 0.5

  &.inGroup
    background: rgba(190, 0, 190, 0.1)

  &.moving
    opacity: 0.2
    background: #222

  cursor: move

.theatrejs-timelineEditor-prop-selection-hollow
  top: -10px
  bottom: -10px
  position: absolute
  z-index: 13

  background: rgba(0, 227, 255, 0.1)
  border: 1px dashed transparent
  border-color: transparent rgb(0, 161, 184)

  overflow: visible

  &.bad
    background: rgba(255, 0, 0, 0.1)
    border-color: transparent rgb(184, 0, 0)

.theatrejs-timelineEditor-prop-selection-leftEdge
  top: 0
  bottom: 0
  width: 10px
  left: -5px

  cursor: ew-resize
  position: absolute
  z-index: 12

.theatrejs-timelineEditor-prop-selection-rightEdge
  top: 0
  bottom: 0
  width: 10px
  right: -5px

  cursor: ew-resize
  position: absolute
  z-index: 12