.theatrejs-timelineEditor-prop-selection

	top: -10px
	bottom: -10px

	background: rgba(0, 227, 255, 0.1)

	border: 1px dashed transparent
	border-color: transparent rgb(0, 161, 184)

	position: absolute

	overflow: visible

	z-index: 12

	&.empty

		opacity: 0.5

.theatrejs-timelineEditor-prop-selection-leftEdge

	top: 0
	bottom: 0
	width: 10px

	left: -5px

	cursor: ew-resize
	position: absolute
	z-index: 12

.theatrejs-timelineEditor-prop-selection-rightEdge

	top: 0
	bottom: 0
	width: 10px

	right: -5px

	cursor: ew-resize
	position: absolute
	z-index: 12