.container {
  composes: defaultHeaderContent from '../workspace/components/Panel/Panel.css';
}

.flyoutTrigger {
  composes: title from '../workspace/components/Panel/Panel.css';
  border: 1px solid #212b32;
  background: rgba(255, 255, 255, 0.1);
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  
  }
}

.title {
  composes: title from '../workspace/components/Panel/Panel.css';
}

.exploreTab {
  padding-left: 13px !important;
  padding-right: 13px !important;
  color: white;
}

.exploreIcon {
  font-size: 19px;
}