.timeflow-seekbar

	position: absolute
	top: 0
	left: 0
	right: 0
	height: 6px

	background: url('../../images/strip-values.png') repeat-x

	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

.timeflow-seekbar-seeker

	position: absolute

	width: 11px
	height: 15px

	// left: 500px
	top: -5px

	cursor: e-resize


	background: url('../../images/marker.png')

	&:before

		content: "\0020"
		display: block

		position: absolute

		width: 20px
		height: 50px
		top: -30px

	&:after

		content: "\0020"
		display: block

		position: absolute

		width: 1px
		height: 500px

		left: 5px
		top: 15px

		background: #333


@mixin focusHandle($side)

	position: absolute

	width: 0px
	height: 10px

	top: -2px

	&:before

		content: "\0020"
		display: block
		position: absolute
		width: 10px
		height: 10px

		@if $side == 'left'

			right: 0

		@else

			left: 0

	&:after

		content: "\0020"
		display: block
		position: absolute
		#{$side}: 0

		width: 6px
		height: 10px

		background: url('../../images/focus-#{$side}.png')

.timeflow-seekbar-focus-left

	cursor: nwse-resize

	@include focusHandle(left)

.timeflow-seekbar-focus-right

	cursor: sw-resize

	@include focusHandle(right)
