.timeflow-workspaceList

	cursor: default

	position: fixed
	bottom: 48px
	left: 30px

	background: #040404

	color: white

	padding: 10px

	opacity: 0

	-webkit-transform: translate3d(-5000px, 0, 1px)

.timeflow-workspaceList-workspace

	float: left

	margin-right: 10px

	-webkit-user-select: initial

.show

	opacity: 1

	-webkit-transform: translate3d(0px, 0, 1px)