name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - uses: actions/cache@v2
        id: dev-package-uploader-cache
        with:
          path: '${{ github.workspace }}/dev-package-uploader/node_modules'
          key:
            ${{ runner.os }}-dev-package-uploader-cache-${{
            hashFiles('scripts/dev-package-uploader/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-dev-package-uploader-cache-

      - run: yarn install
      - run: yarn typecheck
      - run: yarn lint:all --max-warnings 0
      - run: yarn test
      - name: Download playwright
        run: yarn workspace playground run playwright install
      - name: Run e2e tests with percy
        uses: percy/exec-action@v0.3.1
        with:
          custom-command: 'yarn test:e2e:ci'
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
      - name: Install dependencies of the dev-package-uploader
        working-directory: ${{ github.workspace }}/scripts/dev-package-uploader
        run: npm install
      - name: Publish the packages
        env:
          BUCKET: my-npm-packages
          SECRET: ${{ secrets.DO_SPACES_SECRET }}
          KEY: ${{ secrets.DO_SPACES_KEY }}
        run: npx zx scripts/generate-development-package-tarballs.mjs
