.container {
  /* display: flex; */
  background: #34444D;
  color: #8DBDD6;
  border: 1px solid #252424;
  border-right: none;
  font-size: 10px;
  height: 22px;
  flex-grow: 1;
  &:last-child {
    border-right: 1px solid #252424;
  }
}

.input {
  color: inherit;
  font-size: inherit;
  padding: 0 10px;
  line-height: 22px;
  display: block;
  width: 100%;
  /* width: 70px; */
  box-sizing: border-box;
}