.container {
  margin-left: 8px;
  margin-right: 8px;
}

.group {
  background: #2C3940;

  & > .title {
    border-bottom: 1px solid #273238;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    color: #7BA8A8;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 4px;
  }
}

.subGroup {
  & > .title {
    color: #87B0C4;
    font-size: 9px;
    padding-left: 12px;
    text-transform: uppercase;
  }

  & > .body {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* flex-wrap: nowrap; */

    margin: 0 8px;
  }

  margin-bottom: 10px;

  &:last-child {
    padding-bottom: 8px;
  }
}